{% include 'common/header.twig' %}

<div class="box">
  <header>
    <h1>Log Action</h1>
  </header>
  <div>

<form method="get" action="/adm/log-action">
  <label for="action">Filtrer un événement</label>
  <select id="action" name="action">
    <option value="0">Tous</option>
    {% for action_id, action_lib in actions %}
    <option value="{{ action_id }}">{{ action_lib }}</option>
    {% endfor %}
  </select>
  <input type="submit" value="OK">
</form>

<table>
  <tr>
    <th>Date</th>
    <th>Membre</th>
    <th>Action</th>
    <th>Host</th>
  </tr>
  {% for log in logs %}
  <tr>
    <td>{{ log.datetime|date_format:'%d/%m/%y %H:%M:%S' }}</td>
    <td><a href="/membres/show/{{ log.id_contact }}">{{ log.pseudo }}</a></td>
    <td><strong>{{ log.actionlib }}</strong>{% if log.extra %} ({{ log.extra }}){% endif %}</td>
    <td>{{ log.host }}</td>
  </tr>
  {% endfor %}
</table>

  </div>
</div>

{% include 'common/footer.twig' %}
