{% include 'common/header.twig' %}

<div class="box">
  <header>
    <h1>Audios</h1>
  </header>
  <div class="reset">

{pagination nb_items=$nb_items nb_items_per_page=$nb_items_per_page page=$page}

<table class="table table--zebra" id="tab-groupes">
  <thead>
    <tr>
      <th>Audio</th>
      <th>Groupe</th>
      <th>Évènement</th>
      <th>Lieu</th>
      <th>Créa</th>
      <th>Modif</th>
    </tr>
  </thead>
  <tbody>
  {% for from=$audios item=audio}
    <tr>
      <td>{{ audio.id }}<br/>{{ audio.name }}</td>
      <td>{% if ($audio.idGroupe()}}<a href="{{ audio.Groupe().Url }}">{{ audio.Groupe().name }}</a>{% endif %}</td>
      <td>{% if ($audio.idEvent()}}<a href="{{ audio.Event().Url }}">{{ audio.Event().name }}</a><br/>{{ audio.Event().Date()|date_format:'%d/%m/%Y'}{% endif %}</td>
      <td>{% if ($audio.idLieu()}}<a href="{{ audio.Lieu().Url }}">{{ audio.Lieu().name }}</a><br>{{ audio.Lieu().idDepartement }} {{ audio.Lieu().city.name }}{% endif %}</td>
      <td>{{ audio.CreatedAt()|date_format:'%d/%m/%Y'}</td>
      <td>{{ audio.ModifiedAt()|date_format:'%d/%m/%Y'}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

  </div>
</div>

{% include 'common/footer.twig' %}
