{% include 'common/header.twig' %}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">Se connecter</h3>
      <div class="border rounded-bottom bg-white p-3">
        <form id="form-login" name="form-login" method="post" action="/auth/login">
          <div class="row mb-3">
            <label class="form-label col-3" for="login-pseudo">Pseudo</label>
            <div class="col-9">
              <div class="alert alert-danger" id="error_login-pseudo"{% if not error_login_pseudo %} style="display: none"{% endif %}>Pseudo vide !</div>
              <input type="text" id="login-pseudo" name="pseudo" required="required" placeholder="Pseudo" class="form-control">
            </div>
          </div>
          <div class="row mb-3">
            <label class="form-label col-3" for="login-password">Mot de passe</label>
            <div class="col-9">
              <div class="alert alert-danger" id="error_login-password"{% if not error_login_password %} style="display: none"{% endif %}>Mot de passe vide !</div>
              <input type="password" id="login-password" name="password" required="required" placeholder="Mot de passe" class="form-control">
            </div>
          </div>
          <div class="mb-3">
            <input id="form-login-submit" name="form-login-submit" type="submit" value="🔒 Je me connecte" class="btn btn-primary">
            {% if referer %}<input type="hidden" id="login-referer" name="referer" value="{{ referer|url_encode }}">{% endif %}
          </div>
          <a href="/auth/lost-password" class="btn btn-secondary">😢 mot de passe oublié</a>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <h3 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">Créer un compte</h3>
      <div class="border rounded-bottom bg-white p-3">
        <form id="form-member-create" name="form-member-create" method="post" action="/membres/create">
          <div class="row mb-3">
            <label class="form-label col-3" for="pseudo">Pseudo</label>
            <div class="col-9">
              <div id="error_pseudo_unavailable" class="alert alert-danger"{% if not error_pseudo_unavailable %} style="display: none"{% endif %}>Ce pseudo est pris, veuillez en choisir un autre</div>
              <div class="alert alert-danger" id="error_pseudo"{% if not error_pseudo %} style="display: none"{% endif %}>Vous devez saisir un pseudo entre 2 à 16 caractères</div>
              <input id="pseudo" name="pseudo" type="text" value="{% if data.pseudo %}{{ data.pseudo }}{% endif %}" required="required" placeholder="Pseudo" class="form-control">
            </div>
          </div>
          <div class="row mb-3">
            <label class="form-label col-3" for="email">E-mail</label>
            <div class="col-9">
              <div id="error_email"{% if not error_email %} style="display: none"{% endif %} class="alert alert-danger">Vous devez saisir votre e-mail</div>
              <div id="error_invalid_email" class="alert alert-danger"{% if not error_invalid_email %} style="display: none"{% endif %}>Cet e-mail semble invalide</div>
              <div id="error_already_member" class="alert alert-danger"{% if not error_already_member %} style="display: none"{% endif %}>Inscription impossible car un compte avec cet e-mail existe déjà. Vous avez <a href="/auth/lost-password">oublié votre mot de passe ?</a></div>
              <input id="email" name="email" type="email" value="{% if data.email %}{{ data.email }}{% endif %}" required="required" placeholder="E-mail" class="form-control">
            </div>
          </div>
          <div class="form-check mb-3">
            <input id="mailing" class="form-check-input" name="mailing" type="checkbox"{% if data.mailing %} checked="checked"{% endif %}>
            <label for="mailing" class="form-check-label">Je souhaite recevoir la newsletter</label>
          </div>
          <div>
            <input type="hidden" name="csrf" value="{% if data.csrf %}{{ data.csrf }}{% endif %}">
            <input type="hidden" name="text" value="{% if data.text %}{{ data.text }}{% endif %}">
            <input id="form-membrer-create-submit" name="form-member-create-submit" class="btn btn-primary" type="submit" value="🚀 Je crée mon compte">
          </div>
        </form>
      </div>
    </div>
  </div>{# .row #}
</div>{# .container #}

{% include 'common/footer.twig' %}
