{{ include('common/header.twig') }}

<div class="container">

{% if unknown_group %}

  <div class="alert alert-danger">Ce groupe est introuvable</div>

{% else %}

  <div class="row">

    <div class="col-md-6">

      <h1 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">{{ groupe.name }}</h1>
      <div class="border rounded-bottom bg-white p-3 mb-3">
        {% if groupe.logo %}
        <img src="{{ groupe.logo }}" alt="{{ groupe.name }}" class="d-flex mx-auto img-fluid">
        {% endif %}
        {% if groupe.style %}
        <p><strong>Style</strong><br>{{ groupe.style }}</p>
        {% endif %}
        {% if groupe.influences %}
        <p><strong>Influences</strong><br>{{ groupe.influences }}</p>
        {% endif %}
        {% if groupe.lineup %}
        <p><strong>Membres</strong><br>{{ groupe.lineup }}</p>
        {% endif %}
        {% if groupe.site or groupe.facebookPageId or groupe.twitterId %}
        <p><strong>Liens</strong></p>
        <ul class="social-share-box">
          {% if groupe.site %}
          <li><a href="{{ groupe.site }}" class="website" title="Site"><span>Site</span></a></li>
          {% endif %}
          {% if groupe.facebookPageId %}
          <li><a href="{{ groupe.facebookPageUrl }}" class="facebook" title="Facebook"><span>Facebook</span></a></li>
          {% endif %}
          {% if groupe.TwitterId %}
          <li><a href="{{ groupe.TwitterUrl }}" class="twitter" title="Twitter"><span>Twitter</span></a></li>
          {% endif %}
        </ul>
        {% endif %}
      </div>

      {% if videos|length > 0 %}
      <h2 class="px-2 py-1 mb-3 bg-dark text-white rounded-top">Vidéos</h2>
      <div class="row row-cols-md-2 g-3">
      {% for video in videos %}
      <div class="col">
        <div class="card w-100 shadow-sm">
          <a href="{{ video.url }}" title="Regarder la vidéo {{ video.name }}"><img src="{{ video.thumbUrl }}" class="img-fluid" alt=""></a>
          <div class="card-body">
            <p class="card-text"><a href="{{ video.url }}" title="Regarder la vidéo {{ video.name }}">{{ video.name }}</a></p>
            {% if video.event %}<p class="card-text"><a href="{{ video.event.url }}" title="Aller à la page de l'événement {{ video.event.name }}">{{ video.event.name }}<br/>
            {{ video.event.date|format_datetime(pattern: 'dd LLLL yyyy') }}</a></p>{% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
      </div>
      {% endif %}

      {% if audios|length > 0 %}
      <h2 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">En Écoute</h2>
      <div class="border rounded-bottom bg-white p-3">
        <ul>
          {% for audio in audios %}
          <li><a href="{{ audio.url }}">{{ audio.name }}</a><br><audio controls="controls" src="{{ audio.directMp3Url }}" style="background-color:#000"></audio></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

    </div>
    <div class="col-md-6">{# colonne 2 #}

      <h2 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">Présentation</h2>
      <div class="border rounded-bottom bg-white p-3 mb-3">
        {% if groupe.photo %}
        <img src="{{ groupe.photo }}" alt="{{ groupe.name }}" title="{{ groupe.name }}" class="d-flex mx-auto img-fluid">
        {% endif %}
        <p style="text-align:justify">{{ groupe.text }}</p>
      </div>

      {% if f_events|length > 0 %}
      <h2 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">Évènements à venir</h2>
      <div class="border rounded-bottom bg-white p-3 mb-3">
        <ul>
          {% for event in f_events %}
          <li><a href="{{ event.url }}">{{ event.date|date('d/m/y H:i') }} - {{ event.lieu.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if p_events|length > 0 %}
      <h2 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">Évènements passés</h2>
      <div class="border rounded-bottom bg-white p-3 mb-3">
        <ul>
          {% for event in p_events %}
          <li><a href="{{ event.url }}">{{ event.date|date('d/m/y H:i') }} - {{ event.lieu.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if photos|length > 0 %}
      <h2 class="px-2 py-1 mb-3 bg-dark text-white rounded-top">Photos</h2>
      <div class="gallery mb-3">
        {% for photo in photos %}
        <div class="photo">
          <a href="{{ photo.thumbUrl }}" data-at-1000="{{ photo.thumbUrl }}" title="{{ photo.name }}{% if photo.groupe %} ({{ photo.groupe.name }}){% endif %} 📷 {{ photo.credits }}">
            <img data-id-photo="{{ photo.idPhoto }}" src="{{ photo.thumbUrl(80) }}" alt="{{ photo.name }}{% if photo.groupe %} ({{ photo.groupe.name }}){% endif %}">
          </a>
        </div>
        {% endfor %}
      </div>
      {% endif %}

    </div>
  </div>

{% endif %} {# test unknown group #}

</div>{# .container #}

{{ include('common/footer.twig') }}
