{% include 'common/header.twig' %}

<div class="box">
  <header>
    <h1>Membre</h1>
  </header>
  <div>

<table>
  <caption>Infos générales</caption>
  <tr>
    <th>Id</th>
    <td>{{ membre.Id }}</td>
  </tr>
  <tr>
    <th>Email</th>
    <td>{{ membre.Email }}</td>
  </tr>
  <tr>
    <th>Pseudo</th>
    <td>{{ membre.Pseudo }}</td>
  </tr>
  <tr>
    <th>Nom</th>
    <td>{{ membre.LastName }}</td>
  </tr>
  <tr>
    <th>Prénom</th>
    <td>{{ membre.FirstName }}</td>
  </tr>
</table>

<p>Confirmer la suppression ?</p>

  </div>
</div>

{% include 'common/footer.twig' %}
