  {% for membre in membres %}
  <tbody>
    <tr>
      <td>{{ membre.idContact }}</td>
      <td><a href="/adm/membres/{{ membre.idContact }}">{{ membre.pseudo }}</a></td>
      <td>{{ membre.lastName }}</td>
      <td>{{ membre.firstName }}</td>
      <td>{{ membre.contact.email }}</td>
      <td>{{ membre.createdAt|date("d/m/y") }}</td>
      <td>{{ membre.modifiedAt|date("d/m/y") }}</td>
      <td>{{ membre.visitedAt|date("d/m/y") }}</td>
    </tr>
  </tbody>
  {% endfor %}
