  {% for from=$membres key=cpt item=membre}
  <tbody>
    <tr>
      <td>{{ membre.IdContact }}</td>
      <td><a href="/adm/membres/{{ membre.IdContact }}">{{ membre.Pseudo }}</a></td>
      <td>{{ membre.LastName }}</td>
      <td>{{ membre.FirstName }}</td>
      <td>{{ membre.Email }}</td>
      <td>{{ membre.CreatedAt()|date_format:'%d/%m/%y'}</td>
      <td>{{ membre.ModifiedAt()|date_format:'%d/%m/%y'}</td>
      <td>{{ membre.VisitedAt()|date_format:'%d/%m/%y'}</td>
      <td>{{ membre.LastNl()|date_format:'%d/%m/%y'}</td>
    </tr>
  </tbody>
  {% endfor %}
