  {% for membre in membres %}
  <tbody>
    <tr>
      <td>{{ membre.idContact }}</td>
      <td><a href="/adm/membres/{{ membre.idContact }}">{{ membre.pseudo }}</a></td>
      <td>{{ membre.lastName }}</td>
      <td>{{ membre.firstName }}</td>
      <td>{{ membre.contact.email }}</td>
      <td>{{ membre.createdAt|date_format:'%d/%m/%y' }}</td>
      <td>{{ membre.modifiedAt|date_format:'%d/%m/%y' }}</td>
      <td>{{ membre.visitedAt|date_format:'%d/%m/%y' }}</td>
      <td>{{ membre.contact.lastnl|date_format:'%d/%m/%y' }}</td>
    </tr>
  </tbody>
  {% endfor %}
