  {% for cpt, membre in membres %}
  <tbody>
    <tr>
      <td>{{ membre.idContact }}</td>
      <td><a href="/adm/membres/{{ membre.idContact }}">{{ membre.pseudo }}</a></td>
      <td>{{ membre.lastName }}</td>
      <td>{{ membre.firstName }}</td>
      <td>{{ membre.email }}</td>
      <td>{{ membre.createdAt()|date_format:'%d/%m/%y' }}</td>
      <td>{{ membre.modifiedAt()|date_format:'%d/%m/%y' }}</td>
      <td>{{ membre.bisitedAt()|date_format:'%d/%m/%y' }}</td>
      <td>{{ membre.lastNl()|date_format:'%d/%m/%y' }}</td>
    </tr>
  </tbody>
  {% endfor %}
