{% include 'common/header.twig' %}

<div class="box">
  <header>
    <h1>Supprimer un son</h1>
  </header>
  <div>

    {% if unknown_audio}}

    <p class="infobulle error">Cet audio est introuvable !</p>

    {% else %}

    <form id="form-audio-delete" name="form-audio-delete" method="post" action="/audios/delete">
      <section class="grid-4">
        <div>
          <label for="mp3">Écouter</label>
        </div>
        <div class="col-3">
          <audio controls id="mp3" src="{{ audio.DirectMp3Url }}"></audio>
        </div>
        <div>
          <label for="name">Nom</label>
        </div>
        <div class="col-3">
          <span id="name">{{ audio.Name }}</span>
        </div>
        {% if groupe}}
        <div>
          <label for="groupe">Groupe</label>
        </div>
        <div class="col-3">
          <span id="groupe">{{ groupe.Name }}</span>
        </div>
        {% endif %}
        {% if event}}
        <div>
          <label for="event">Événement</label>
        </div>
        <div class="col-3">
          <span id="event">{{ event.Date()|date_format:"%d/%m/%Y %h:%i"} - {{ event.Name }}</span>
        </div>
        {% endif %}
        {% if lieu}}
        <div>
          <label for="lieu">Lieu</label>
        </div>
        <div class="col-3">
          <span id="lieu">{{ lieu.IdDepartement }} - {{ lieu.Name }}</span>
        </div>
        {% endif %}
        <div>
          <label for="online">Afficher</label>
        </div>
        <div class="col-3">
          <span id="online">{{ audio.Online }}</span>
        </div>
        {% if membre}}
        <div>
          <label for="created_at">Envoyé le</label>
        </div>
        <div class="col-3">
          <span id="created_at">{{ audio.CreatedAt()|date_format:"%d/%m/%Y à %H:%M"} par <a href="{{ membre.Url }}">{{ membre.Pseudo }}</a></span>
        </div>
        {% endif %}
        {% if $audio.ModifiedAt }}
        <div>
          <label for="modified_at">Modifié le</label>
        </div>
        <div class="col-3">
          <span id="modified_at">{{ audio.ModifiedAt()|date_format:"%d/%m/%Y à %H:%M"}</span>
        </div>
        {% endif %}
        <div>
          <label for="mp3">Ecouter</label>
        </div>
        <div class="col-3">
          <audio id="mp3" src="{{ audio.DirectMp3Url }}"></audio>
        </div>
        <div></div>
        <div class="col-3">
          <input id="form-audio-delete-submit" name="form-audio-delete-submit" class="btn btn--primary w100" type="submit" value="Supprimer">
          <input type="hidden" name="id" value="{{ audio.Id }}">
        </div>
      </section>
    </form>

    {% endif %}

  </div>
</div>

{% include 'common/footer.twig' %}
