{% include 'common/header.twig' %}

<div class="box">
  <header>
    <h1>Éditer une Musique</h1>
  </header>
  <div>

    {% if unknown_audio}}

    <p class="infobulle error">Cet audio est introuvable !</p>

    {% else %}

    <form name="form-audio-edit" id="form-audio-edit" method="post" action="/audios/edit" enctype="multipart/form-data">
      <section class="grid-4">
        <div>
          <label for="mp3">Écouter</label>
        </div>
        <div class="col-3 mbs">
          <audio controls id="mp3" src="{{ audio.DirectMp3Url }}"></audio>
        </div>
        <div>
          <label for="name">Titre (*) </label>
        </div>
        <div class="col-3 mbs">
          <div class="infobulle error" id="error_name"{% if not error_name}} style="display: none"{% endif %}>Vous devez renseigner un titre</div>
          <input type="text" id="name" name="name" class="w100" value="{{ audio.name }}">
        </div>
        <div>
          <label for="id_groupe">Groupe</label>
        </div>
        <div class="col-3 mbs">
          <div class="infobulle error" id="error_id_groupe"{% if not error_id_groupe}} style="display: none"{% endif %}>Vous devez sélectionner un groupe</div>
          <select id="id_groupe" name="id_groupe" class="w100">
            <option value="0">Sans</option>
            {% for from=$groupes item=groupe}
            <option value="{{ groupe.id }}"{% if $audio.idGroupe() === $groupe.idGroupe }} selected="selected"{% endif %}>{{ groupe.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div>
          <label for="id_lieu">Lieu</label>
        </div>
        <div class="col-3 mbs">
          <select id="id_lieu" name="id_lieu" class="w100">
            <optgroup label="Autre">
              <option value="0">aucun / non référencé</option>
            </optgroup>
            {% for from=$dep item=dep_name key=dep_id}
            <optgroup label="{{ dep_id} - {{ dep_name}">
              {% for from=$lieux.$dep_id item=lieu}
              <option value="{{ lieu.idLieu }}"{% if $audio.idLieu() === $lieu.idLieu }} selected="selected"{% endif %}>{{ lieu.city.Cp }} {{ lieu.city.name }} : {{ lieu.name }}</option>
              {% endfor %}
            </optgroup>
            {% endfor %}
          </select>
        </div>
        <div>
          <label for="id_event">Événement</label>
        </div>
        <div class="col-3 mbs">
          <select id="id_event" name="id_event" class="w100">
            <option value="0">Aucun</option>
          </select>
        </div>
        <div>
          <label for="online">Rendre public</label>
        </div>
        <div class="col-3 mbs">
          <input class="checkbox" type="checkbox" name="online"{% if $audio.Online }} checked="checked"{% endif %}>
        </div>
        <div>
          <label for="created_at">Envoyé le</label>
        </div>
        <div class="col-3 mbs">
          <span id="created_at">{{ audio.CreatedAt()|date_format:"%d/%m/%Y à %H:%M"} par <a href="{{ membre.Url }}">{{ membre.Pseudo }}</a></span>
        </div>
        {% if $audio.ModifiedAt }}
        <div>
          <label for="modified_at">Modifié le</label>
        </div>
        <div class="col-3 mbs">
          <span id="modified_at">{{ audio.ModifiedAt()|date_format:"%d/%m/%Y à %H:%M"}</span>
        </div>
        {% endif %}
        <div></div>
        <div class="col-2">
          <input id="form-audio-edit-submit" name="form-audio-edit-submit" class="btn btn--primary w100" type="submit" value="Enregistrer">
          <input type="hidden" name="id" value="{{ audio.id }}">
          <input type="hidden" name="audio_id_event" id="audio_id_event" value="{{ audio.idEvent }}">
        </div>
        <div class="txtright">
          <span id="delete"><a href="/audios/delete/{{ audio.id }}" class="btn btn--primary">Supprimer</a></span>
        </div>
      </section>
    </form>

{% endif %} {# test unknown audio #}

  </div>
</div>

{% include 'common/footer.twig' %}
