{% include 'common/header.twig' %}

<div class="box">
  <header>
    <h2>Mes musiques</h2>
  </header>
  <div>

<div class="mbs txtcenter">
  <a href="/audios/create" class="btn btn--primary">Ajouter une musique</a>
</div>

{% if $audios|@sizeof == 0}

<p>Aucune musique</p>

{% else %}

{pagination nb_items=$nb_items nb_items_per_page=$nb_items_per_page page=$page}

{% if delete}}
<div class="infobulle success">La suppression du son a été effectuée</div>
{% endif %}

<table class="table table--zebra">
  <thead>
    <tr>
      <th>Groupe</th>
      <th>Titre</th>
      <th>Créé le</th>
      <th>Modifié le</th>
    </tr>
  </thead>
  <tbody>
  {% for $audios as $audio}
    <tr>
      <td>{% if audio.Groupe()}}{{ audio.Groupe().Name }}{% endif %}</td>
      <td><a href="/audios/edit/{{ audio.IdAudio }}">{{ audio.Name }}</a></td>
      <td>{{ audio.CreatedAt }}</td>
      <td>{{ audio.ModifiedAt }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{pagination nb_items=$nb_items nb_items_per_page=$nb_items_per_page page=$page}

{% endif %}

<div class="mts txtcenter">
  <a href="/audios/create" class="btn btn--primary">Ajouter une musique</a>
</div>

  </div>
</div>

{% include 'common/footer.twig' %}
