{% include 'common/header.twig' %}

{% if unknown_audio}}

<p class="infobulle error">Cet audio est introuvable !</p>

{% else %}

<script>
var audio_url = '{{ og_audio.url}';
</script>

<div class="box">
  <header>
    <h1>{{ audio.Name }}</h1>
  </header>
  <div>

{% if $audio.IdGroupe }}
<a href="{{ groupe.Url }}"><img style="float: left; margin: 5px;" src="{{ groupe.MiniPhoto }}" alt="{{ groupe.Name }}"></a>
{% endif %}

<div class="audiometa">
<ul>
  <li>Titre : <strong>{{ audio.Name }}</strong></li>
  {% if $audio.IdGroupe }}
  <li>Groupe : <a href="{{ groupe.Url }}"><strong>{{ groupe.Name }}</strong></a></li>
  {% endif %}
  {% if $audio.IdEvent }}
  <li>Evénement : <a href="{{ event.Url }}"><strong>{{ event.Name }}</strong></a> ({{ event.Date()|date_format:'%d/%m/%Y'})</li>
  {% endif %}
  {% if $audio.IdLieu }}
  <li>Lieu : <a href="{{ lieu.Url }}"><strong>{{ lieu.Name }}</strong></a></li>
  {% endif %}
  <li>Mise en ligne : le {{ audio.CreatedAt()|date_format:'%d/%m/%Y'} par <a href="/membres/show/{{ audio.IdContact }}"><strong>{{ audio.IdContact()|pseudo_by_id}</strong></a></li>
</ul>
</div>

<audio controls="controls" src="{{ audio.DirectMp3Url }}" style="background-color:#000"></audio>

  </div>
</div>

{% if photos) || videos}}
<div class="box">
  <header>
    <h2>Photos et vidéos de ce concert</h2>
  </header>
  <div>
{% for $photos as $photo}
<div class="thumb-80 thumb-photo-80">
  <a href="{{ photo.Url }}"><img src="{{ photo.ThumbUrl(80}}" alt="{{ photo.Name }}"><br>{{ photo.Name()|truncate:15:"...":true:true}</a>
  <a class="overlay-80 overlay-photo-80" href="{{ photo.Url }}" title="{{ photo.Name }}"></a>
</div>
{% endfor %}
{% for $videos as $video}
<div class="thumb-80 thumb-video-80">
  <a href="{{ video.Url }}"><img src="{{ video.ThumbUrl(80}}" alt="{{ video.Name }}"><br>{{ video.Name()|truncate:15:"...":true:true}</a>
  <a class="overlay-80 overlay-video-80" href="{{ video.Url }}" title="{{ video.Name }}"></a>
</div>
{% endfor %}
  </div>
</div>
{% endif %}

{% endif %} {# test unknown audio #}

{% include 'common/footer.twig' %}
