{% include 'common/header.twig' %}

{% if unknown_audio %}

<p class="infobulle error">Cet audio est introuvable !</p>

{% else %}

<script>
var audio_url = '{{ og_audio.url }}';
</script>

<div class="box">
  <header>
    <h1>{{ audio.name }}</h1>
  </header>
  <div>

{% if audio.idGroupe %}
<a href="{{ groupe.url }}"><img style="float: left; margin: 5px;" src="{{ groupe.miniPhoto }}" alt="{{ groupe.name }}"></a>
{% endif %}

<div class="audiometa">
<ul>
  <li>Titre : <strong>{{ audio.name }}</strong></li>
  {% if audio.idGroupe %}
  <li>Groupe : <a href="{{ groupe.url }}"><strong>{{ groupe.name }}</strong></a></li>
  {% endif %}
  {% if audio.idEvent %}
  <li>Evénement : <a href="{{ event.url }}"><strong>{{ event.name }}</strong></a> ({{ event.date|date("d/m/Y") }})</li>
  {% endif %}
  {% if audio.idLieu %}
  <li>Lieu : <a href="{{ lieu.url }}"><strong>{{ lieu.name }}</strong></a></li>
  {% endif %}
  <li>Mise en ligne : le {{ audio.createdAt|date("d/m/Y") }} par <a href="/membres/show/{{ audio.idContact }}"><strong>{{ audio.idContact|pseudo_by_id }}</strong></a></li>
</ul>
</div>

<audio controls="controls" src="{{ audio.directMp3Url }}" style="background-color:#000"></audio>

  </div>
</div>

{% if photos or videos %}
<div class="box">
  <header>
    <h2>Photos et vidéos de ce concert</h2>
  </header>
  <div>
{% for photo in photos %}
<div class="thumb-80 thumb-photo-80">
  <a href="{{ photo.url }}"><img src="{{ photo.thumbUrl(80) }}" alt="{{ photo.name }}"><br>{{ photo.name|truncate:15:"...":true:true }}</a>
  <a class="overlay-80 overlay-photo-80" href="{{ photo.url }}" title="{{ photo.name }}"></a>
</div>
{% endfor %}
{% for video in videos %}
<div class="thumb-80 thumb-video-80">
  <a href="{{ video.url }}"><img src="{{ video.thumbUrl(80) }}" alt="{{ video.name }}"><br>{{ video.name|truncate:15:"...":true:true }}</a>
  <a class="overlay-80 overlay-video-80" href="{{ video.url }}" title="{{ video.name }}"></a>
</div>
{% endfor %}
  </div>
</div>
{% endif %}

{% endif %} {# test unknown audio #}

{% include 'common/footer.twig' %}
