{% include 'common/header.twig' %}

{% if create %}<p class="infobulle success">Evénement ajouté</p>{% endif %}
{% if edit %}<p class="infobulle success">Evénement modifié</p>{% endif %}
{% if delete %}<p class="infobulle success">Evénement supprimé</p>{% endif %}

<div class="grid-3-small-1 has-gutter">

  <div class="box col-2-small-1">
    <header>
      <h1>Agenda</h1>
    </header>

    {% if events.length == 0 %}
    <div>
      <p>Aucune date annoncée pour cette période. <a href="/events/create">Inscrire un évènement</a></p>
    </div>
    {% else %}
    <div>

{% for day, events_of_the_day in events %}
<div id="day-{{ day }}" class="events_of_the_day">
<h3>{{ day }}</h3>
{% for event in events_of_the_day %}
<div class="event grid-3-small-1">
  <div class="event_header col-1">
    <div class="event_date">{{ event.date }}</div>
    <div class="event_lieu"><a href="/lieux/{{ event.lieu.id }}" title="{{ event.lieu.name }}"><strong>{{ event.lieu.name }}</strong></a><br>{{ event.lieu.idDepartement }} {{ event.lieu.city.name }}</div>
  </div>
  <div class="event_content col-2">
    <span class="event_title">
      <a href="{{ event.url }}"><strong>{{ event.name }}</strong></a>
    </span>
    <div class="event_body">
      {% if event.thumbUrl %}
      <a href="{{ event.url }}"><img src="{{ event.thumbUrl }}" style="float: right; margin: 0 0 5px 5px" alt="{{ event.name }}"></a>
      {% endif %}
      {{ event.text }}
      <ul>
      {% for groupe in event.groupes %}
        <li><a href="{{ groupe.url }}"><strong>{{ groupe.name }}</strong></a> ({ groupe.style }})</li>
      {% endfor %}
      </ul>
      <p class="event_price">{{ event.price }}</p>
      <a style="margin: 10px 0; padding: 5px; border: 1px solid #999" href="/events/ical/{{ event.id }}.ics"><img src="/img/icones/cal.svg" width="16" height="16">Ajout au calendrier</a>
      <br class="clear" style="clear:both">
    </div>
  </div>
</div>{# event #}
{% endfor %}
</div>{# events_of_the_day #}
{% endfor %}

  </div>
{% endif %}
</div>{# .box #}

<div class="col-1">
{calendar year=$year month=$month day=$day}
</div>

</div>{# .grid-3-small-1 #}

{% include 'common/footer.twig' %}
