{% include 'common/header.twig' %}

<div class="box">
  <header>
    <h1>Groupes</h1>
  </header>
  <div class="reset">

{pagination nb_items=$nb_items nb_items_per_page=$nb_items_per_page page=$page}

<table class="table table--zebra" id="tab-groupes">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nom</th>
      <th>Style</th>
      <th>Créa</th>
      <th>Modif</th>
    </tr>
  </thead>
  <tbody>
  {% for groupe in groupes %}
    <tr>
      <td>{{ groupe.id }}</td>
      <td><a href="/adm/groupes/{{ groupe.id }}">{{ groupe.name }}</a></td>
      <td>{{ groupe.style }}</td>
      <td>{{ groupe.createdAt }}</td>
      <td>{{ groupe.modifiedAt }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

  </div>
</div>

{% include 'common/footer.twig' %}
