{{ include('common/header.twig') }}

<div class="container">
  <h1>{{ groupe.name }}</h1>
  <table class="table">
    <caption>Infos générales</caption>
    <tr>
      <th>Id</th>
      <td>{{ groupe.id }}</td>
    </tr>
    <tr>
      <th>Etat</th>
      <td>{{ groupe.etat }}</td>
    </tr>
    <tr>
      <th>Nom</th>
      <td>{{ groupe.name }}</td>
    </tr>
    <tr>
      <th>Alias</th>
      <td>{{ groupe.alias }}</td>
    </tr>
    <tr>
      <th>Style</th>
      <td>{{ groupe.style }}</td>
    </tr>
    <tr>
      <th>Influences</th>
      <td>{{ groupe.influences }}</td>
    </tr>
    <tr>
      <th>Line-up</th>
      <td>{{ groupe.lineup }}</td>
    </tr>
    <tr>
      <th>Mini-texte</th>
      <td>{{ groupe.miniText }}</td>
    </tr>
    <tr>
      <th>Texte</th>
      <td>{{ groupe.text }}</td>
    </tr>
    <tr>
      <th>Site</th>
      <td>{{ groupe.site }}</td>
    </tr>
    <tr>
      <th>Facebook Page Id</th>
      <td><a href="{{ groupe.facebookPageUrl }}">{{ groupe.facebookPageId }}</a></td>
    </tr>
    <tr>
      <th>Création</th>
      <td>{{ groupe.createdAt }}</td>
    </tr>
    <tr>
      <th>Modification</th>
      <td>{{ groupe.modifiedAt }}</td>
    </tr>
    <tr>
      <th>Photo</th>
      <td>{% if groupe.photo %}<img src="{{ groupe.photo }}" alt="">{% endif %}</td>
    </tr>
    <tr>
      <th>Logo</th>
      <td>{% if groupe.logo %}<img src="{{ groupe.logo }}" alt="">{% endif %}</td>
    </tr>
    <tr>
      <th>Mini Photo</th>
      <td><img src="{{ groupe.miniPhoto }}" alt=""></td>
    </tr>
    <tr>
      <th>Le Mot AD'HOC</th>
      <td>{{ groupe.comment }}</td>
    </tr>
  </table>
  <table>
    <caption>Styles</caption>
    {% for style in groupe.styles %}
    <tr><td>{{ style.name }}</td></tr>
    {% endfor %}
  </table>
  <table>
    <caption>Membres</caption>
    {% for member in groupe.Members %}
    <tr>
      <td>{{ member.firstName }} {{ member.lastName }} (<a href="/adm/membres/{{ member.idContact }}">{{ member.pseudo }}</a>)</td>
      <td><a class="btn btn-secondary" href="/adm/appartient-a?from=groupe&amp;action=delete&amp;groupe={{ groupe.id }}&amp;membre={{ member.idContact }}">Supprimer</a></td>
    </tr>
    {% endfor %}
  </table>
  <a class="btn btn-primary" href="/adm/appartient-a?from=groupe&amp;action=create&amp;groupe={{ groupe.id }}">Ajout Membre</a>
</div>

{{ include('common/footer.twig') }}
