{{ include('common/header.twig') }}

<div class="container">
  <h1>Membres</h1>

  <section id="options">
    <form method="GET" action="/adm/membres">
      <div class="row mb-3 g-3 align-items-center">
        <div class="col-auto col-icon">
          <label for="pseudo" title="Choix du pseudo">Pseudo</label>
        </div>
        <div class="col-1">
          <input type="text" id="pseudo" class="form-control" placeholder="Pseudo" name="pseudo" value="{{ search.pseudo }}">
        </div>
        <div class="col-auto col-icon">
          <label for="last_name" title="Choix du nom">Nom</label>
        </div>
        <div class="col-1">
          <input type="text" id="last_name" class="form-control" placeholder="Nom" name="last_name" value="{{ search.last_name }}">
        </div>
        <div class="col-auto col-icon">
          <label for="first_name" title="Choix du prénom">Prénom</label>
        </div>
        <div class="col-1">
          <input type="text" id="first_name" class="form-control" placeholder="Prénom" name="first_name" value="{{ search.first_name }}">
        </div>
        <div class="col-auto col-icon">
          <label for="email" title="Choix de l'email">Email</label>
        </div>
        <div class="col-1">
          <input type="text" id="email" class="form-control" placeholder="Email" name="email" value="{{ search.email }}">
        </div>
        <div class="col-auto">
          <input type="submit" class="btn btn-primary" value="🔍 Filtrer">
        </div>
      </div>
    </form>
  </section>

  <table id="table" class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col" class="minw">Id</th>
        <th scope="col">Pseudo</th>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Email</th>
        <th scope="col">Créa</th>
        <th scope="col">Modif</th>
        <th scope="col">Visite</th>
      </tr>
    </thead>
    <tbody>
    <!-- chargé par dataTables -->
    <tbody>
  </table>

</div>

{{ include('common/footer.twig') }}
