{{ include('common/header.twig') }}

<div class="container">
  <h1>Membre</h1>
  <table class="table">
    <caption>Infos générales</caption>
    <tr>
      <th>Id</th>
      <td>{{ membre.id }}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{ membre.email }}</td>
    </tr>
    <tr>
      <th>Abonnement Newsletter</th>
      <td>{{ membre.mailing }}</td>
    </tr>
    <tr>
      <th>Pseudo</th>
      <td>{{ membre.pseudo }}</td>
    </tr>
    <tr>
      <th>Nom</th>
      <td>{{ membre.lastName }}</td>
    </tr>
    <tr>
      <th>Prénom</th>
      <td>{{ membre.firstName }}</td>
    </tr>
    <tr>
      <th>Date Inscription</th>
      <td>{{ membre.createdAt }}</td>
    </tr>
    <tr>
      <th>Date Modification</th>
      <td>{{ membre.modifiedAt }}</td>
    </tr>
    <tr>
      <th>Date Visite</th>
      <td>{{ membre.visitedAt }}</td>
    </tr>
    <tr>
      <th>Adresse</th>
      <td>{{ membre.address }}</td>
    </tr>
    <tr>
      <th>Code Postal</th>
      <td>{% if membre.city %}{{ membre.city.cp }}{% endif %}</td>
    </tr>
    <tr>
      <th>Ville</th>
      <td>{% if membre.city %}{{ membre.city.name }}{% endif %}</td>
    </tr>
    <tr>
      <th>Pays</th>
      <td>{% if membre.country %}{{ membre.country.name }}{% endif %}</td>
    </tr>
    <tr>
      <th>Téléphone</th>
      <td>{{ membre.tel }}</td>
    </tr>
    <tr>
      <th>Portable</th>
      <td>{{ membre.port }}</td>
    </tr>
    <tr>
      <th>Site</th>
      <td>{{ membre.site }}</td>
    </tr>
    <tr>
      <th>Niveau</th>
      <td>{{ membre.level }}</td>
    </tr>
    <tr>
      <th>Texte</th>
      <td>{{ membre.text }}</td>
    </tr>
  </table>
  <table class="table">
    <caption>Ses Groupes</caption>
    <tr>
      <th>Nom</th>
      <th>Supprimer</th>
    </tr>
    {% for groupe in membre.groupes %}
    <tr>
      <td><a href="/adm/groupes/{{ groupe.idGroupe }}">{{ groupe.name }}</a></td>
      <td><a class="btn btn-secondary" href="/adm/appartient-a?from=membre&amp;action=delete&amp;membre={{ membre.idContact }}&amp;groupe={{ groupe.idGroupe }}">Supprimer</a></td>
    </tr>
    {% endfor %}
  </table>
  <a class="btn btn-primary" href="/adm/appartient-a?from=membre&amp;action=create&amp;membre={{ membre.idContact }}">Ajout Groupe</a>
  </div>
</div>

{{ include('common/footer.twig') }}
