{{ include('common/header.twig') }}

<div class="container">
  <h2>{{ thread.subject }}</h2>
  <div>

<script>
$(function() {

  $(".toggle").hover(function () {
      var toggle_id = $(this).attr('id').replace('toggle_', '');
      $("#msg_" + toggle_id).toggle();
  });

  $(".thread-avatar").hover(function () {
      $(this).addClass('thread-avatar-full');
  }, function() {
      $(this).removeClass('thread-avatar-full');
  });

  $("#form-forum-write").submit(function () {
      var valid = true;
      if($("#text").val() === "") {
          $("#text").prev(".error").fadeIn();
          valid = false;
      } else {
          $("#text").prev(".error").fadeOut();
      }
      return valid;
  });

});
</script>

<div class="subscribers round-corners-all">
{% for sub in subs %}
<a href="{{ sub.url }}" title="{{ sub.pseudo }} - {{ sub.port }} - {{ sub.email }}"><img src="{{ sub.avatar }}" class="thread-avatar" alt="{{ sub.pseudo }} - {{ sub.port }} - {{ sub.email }}" /></a>
{% endfor %}
<br style="clear: both">
</div>

<a class="btn btn-primary" href="/adm/forums/forum/{{ id_forum }}">Retour forum</a>

{% for message in messages %}
<div class="clearfix message">
  <div class="message-meta">
    <img src="{{ message.created_by_avatar }}" alt="">
    <a href="{{ message.created_by_url }}">{{ message.createdBy }}</a><br>
    {{ message.createdAt|date('a d b Y\\<\\b\\r\\>H\\:M') }}
  </div>
  <div class="message-body">
    {{ message.parsed_text|nl2br }}
  </div>
</div>
{% endfor %}

{pagination nb_items=$nb_items nb_items_per_page=$nb_items_per_page page=$page}

  </div>
</div>

<div class="box">
  <h1>Répondre</h1>
  <div>
    <form id="form-forum-write" name="form-forum-write" method="post" action="/adm/forums/write">
      <ul>
        <li>
          <label for="text">Message</label>
          <div class="alert alert-danger" id="error_text"{% if not error_text %} style="display: none"{% endif %}>Vous devez écrire quelque chose !</div>
          <textarea name="text" id="text" rows="10" cols="80" style="width: 100%;">{{ text }}</textarea>
        </li>
        <li>
          <input id="form-forum-write-submit" name="form-forum-write-submit" type="submit" value="Envoyer" class="btn btn-primary" style="padding: 5px 0;">
        </li>
      </ul>
      <input name="check" id="check" type="hidden" value="{{ check }}">
      <input name="id_forum" id="id_forum" type="hidden" value="{{ id_forum }}">
      <input name="id_thread" id="id_thread" type="hidden" value="{{ id_thread }}">
    </form>
  </div>
</div>

{{ include('common/footer.twig') }}
