{% include 'common/header.twig' %}

<div class="container">
  <h2>Écrire un message</h2>
  <div>

<script>
$(function() {

    $("#form-forum-write").submit(function () {
        var valid = true;
        if($("#subject").val() === "") {
            $("#subject").prev(".error").fadeIn();
            valid = false;
        } else {
            $("#subject").prev(".error").fadeOut();
        }
        if($("#text").val() === "") {
            $("#text").prev(".error").fadeIn();
            valid = false;
        } else {
            $("#text").prev(".error").fadeOut();
        }
        return valid;
    });

});
</script>

<form id="form-forum-write" name="form-forum-write" method="post" action="/adm/forums/write">
  <fieldset>
    <ol>
      <li>
        <label for="subject">Sujet</label>
        <div class="alert alert-danger" id="error_subject"{% if not error_subject %} style="display: none"{% endif %}>Vous devez saisir un sujet</div>
        <input name="subject" id="subject" type="text" maxlength="80" value="{{ subject }}" style="width: 360px;">
      </li>
      <li>
        <label for="text">Message</label>
        <div class="alert alert-danger" id="error_text"{% if not error_text %} style="display: none"{% endif %}>Vous devez écrire quelque chose !</div>
        <textarea name="text" id="text" rows="10" cols="80" style="width: 100%;">{{ text }}</textarea>
      </li>
      <li>
        <input id="form-forum-write-submit" name="form-forum-write-submit" type="submit" value="Envoyer" class="btn btn-primary" style="padding: 5px 0;">
      </li>
    </ol>
  </fieldset>
  <input name="check" id="check" type="hidden" value="{{ check }}">
  <input name="id_forum" id="id_forum" type="hidden" value="{{ id_forum }}">
  <input name="id_thread" id="id_thread" type="hidden" value="{{ id_thread }}">
</form>

  </div>
</div>

{% include 'common/footer.twig' %}
