<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<title>{{ title }}</title>
<meta name="viewport" content="width=device-width,initial-scale=1">

{# début open graph #}
{% if og_type %}
<meta property="og:type" content="{{ og_type }}">
{% if og_type != 'video.movie' and og_type != 'website' %}
<meta property="og:language" content="fr">
<meta property="og:author" content="adhocmusic">
{% endif %}
{% else %}
<meta property="og:type" content="article">
{% endif %}

<meta property="og:locale" content="fr_FR">
<meta property="og:site_name" content="adhocmusic.com">
<meta property="og:title" content="{{ title }}">
<meta property="og:url" content="{{ url }}">
<meta property="og:description" content="{% if not description %}Portail de référence sur les musiques actuelles en Essonne, Agenda culturel géolocalisé, Vidéos de concerts, promotion d'artistes ...{% else %}{{ description }}{% endif %}">

{% if og_audio %}
<meta property="og:audio" content="{{ og_audio.url }}">
<meta property="og:audio:secure_url" content="{{ og_audio.url }}">
<meta property="og:audio:title" content="{{ og_audio.title }}">
<meta property="og:audio:artist" content="{{ og_audio.artist }}">
<meta property="og:audio:type" content="{{ og_audio.type }}">
{% endif %}

{% if og_video %}
<meta property="og:video:url" content="{{ og_video.url }}">
<meta property="og:video:secure_url" content="{{ og_video.secure_url }}">
<meta property="og:video:height" content="{{ og_video.height }}">
<meta property="og:video:width" content="{{ og_video.width }}">
<meta property="og:video:type" content="{{ og_video.type }}">
{% endif %}

{% if og_image %}
<meta property="og:image" content="{{ og_image }}">
{% endif %}

{# fin open graph #}

<link rel="author" href="{{ HOME_URL }}/humans.txt">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#292933">
<meta name="theme-color" content="#ffffff">

<meta name="robots" content="{{ robots }}">
<meta name="description" content="{% if not description %}Soutien des musiques actuelles en Essonne, agenda culturel, vidéos de concerts...{% else %}{{ description }}{% endif %}">

{% for style_url in stylesheets %}
<link rel="stylesheet" href="{{ style_url }}">
{% endfor %}

{% for script_url in header_scripts %}
<script src="{{ script_url }}"></script>
{% endfor %}

</head>

<body>

{{ include('common/header-menu.twig') }}

{{ include('common/breadcrumb.twig') }}

<div>
