{% include 'common/header.twig' %}

  <div class="container">
    
    <h1 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">Les concerts</h1>
    <div class="border rounded-bottom bg-white p-3">
      <p>Activité historique de l'association AD'HOC, les concerts à la salle G. Pompidou d'Épinay-sur-Orge se sont tenus de 1996 à 2020 et voici le mur des flyers. Nous privilégions désormais les partenariats avec les autres structures, MJCs et salles du département.</p>
    </div>

    {% for season, events_of_the_year in events %}
    <h3 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">Saison {{ season }}</h3>
    <div class="border rounded-bottom bg-white p-3 row">
      {% for event in events_of_the_year %}
        <div class="col-4">
          <a href="{{ event.url }}" title="{{ event.name }}">
            <img src="{{ event.thumbUrl }}" alt="Flyer {{ event.name }}">
          </a>
        </div>
        {% endfor %}
    </div>
    {% endfor %}

    <h3 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">Saisons 1994 à 1997</h3>
    <div class="border rounded-bottom bg-white p-3">
      <p>C’est très flou, il y a eu quelques concerts à cette époque, sous le nom de l’association Casimir (ou dépendant directement du comité des fêtes d’Épinay-sur-Orge), mais nous n’avons plus de traces de flyers, au mieux une mention d’un concert "avec des jeunes" dans le canard local. Si vous avez des infos contactez nous pour nos archives :)</p>
    </div>

  </div>

{% include 'common/footer.twig' %}
