{{ include('common/header.twig') }}

<div class="container">

  <div class="row">
  <div class="col-md-8 mx-auto">

  <h2 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">Éditer une musique</h2>
  <div class="border rounded-bottom bg-white p-3">

  {% if unknown_audio %}

    <div class="alert alert-danger">Cet audio est introuvable !</div>

  {% else %}

    <form name="form-audio-edit" id="form-audio-edit" method="post" action="/audios/edit" enctype="multipart/form-data">
      <div class="row mb-3">
        <label class="col-3 form-label" for="mp3">Écouter</label>
        <div class="col-9">
          <div class="waveform" data-media-url="{{ audio.directMp3Url }}"></div>
          <p>
            <button class="btn btn-primary playButton">▶️</button>
            <span class="currentTime">00:00:00</span>
            <span>/</span>
            <span class="totalTime">00:00:00</span>
          </p>
        </div>
      <div class="row mb-3">
        <label class="col-3 form-label" for="name">Titre (*) </label>
        <div class="col-9">
          <div class="alert alert-danger" id="error_name"{% if not error_name %} style="display: none"{% endif %}>Vous devez renseigner un titre</div>
          <input type="text" id="name" name="name" class="form-control" value="{{ audio.name }}">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-3 form-label" for="id_groupe">Groupe</label>
        <div class="col-9">
          <div class="alert alert-danger" id="error_id_groupe"{% if not error_id_groupe %} style="display: none"{% endif %}>Vous devez sélectionner un groupe</div>
          <select id="id_groupe" name="id_groupe" class="form-control">
            <option value="0">Sans</option>
            {% for groupe in groupes %}
            <option value="{{ groupe.idGroupe }}"{% if audio.idGroupe == groupe.id %} selected="selected"{% endif %}>{{ groupe.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-3 form-label" for="id_lieu">Lieu</label>
        <div class="col-9">
          <select id="id_lieu" name="id_lieu" class="form-control">
            <optgroup label="Autre">
              <option value="0">aucun / non référencé</option>
            </optgroup>
            {% for dep_id, dep_name in dep %}
            <optgroup label="{{ dep_id }} - {{ dep_name }}">
              {% for lieu in lieux[dep_id] %}
              <option value="{{ lieu.id }}"{% if audio.idLieu == lieu.id %} selected="selected"{% endif %}>{{ lieu.city.cp }} {{ lieu.city.name }} : {{ lieu.name }}</option>
              {% endfor %}
            </optgroup>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-3 form-label" for="id_event">Événement</label>
        <div class="col-9">
          <select id="id_event" name="id_event" class="form-control">
            <option value="0">Aucun</option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-3 form-check-label" for="online">Rendre public</label>
        <div class="col-9">
          <input class="form-check-input" type="checkbox" name="online"{% if audio.online %} checked="checked"{% endif %}>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-3 form-label" for="created_at">Envoyé le</label>
        <div class="col-9">
          <span id="created_at">{{ audio.createdAt|date("d/m/Y \\à H\\:M") }} par <a href="{{ membre.url }}">{{ membre.pseudo }}</a></span>
        </div>
      {% if audio.modifiedAt %}
      <div class="row mb-3">
        <label class="col-3 form-label" for="modified_at">Modifié le</label>
        <div class="col-9">
          <span id="modified_at">{{ audio.modifiedAt|date("d/m/Y \\à H\\:M") }}</span>
        </div>
      </div>
      {% endif %}
      <div class="row mb-3">
        <div class="offset-3">
          <input id="form-audio-edit-submit" name="form-audio-edit-submit" class="btn btn-primary me-auto" type="submit" value="💾 Enregistrer">
          <a href="/audios/delete/{{ audio.idAudio }}" class="btn btn-secondary ms-auto">❌ Supprimer</a>
          <input type="hidden" name="id" value="{{ audio.idAudio }}">
          <input type="hidden" name="audio_id_event" id="audio_id_event" value="{{ audio.idEvent }}">
        </div>
      </div>
    </form>

  {% endif %} {# test unknown audio #}

  </div>

  </div>{# .col-md-8 #}
  </div>{# .row #}

</div>{# .container #}

{{ include('common/footer.twig') }}
