{{ include('common/header.twig') }}

<div class="container">
  <h1>Photos</h1>
  <div>
    <table id="table" class="table table-bordered table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col" class="minw">Id</th>
          <th scope="col">Photo</th>
          <th scope="col">Nom</th>
          <th scope="col">Groupe</th>
          <th scope="col">Évènement</th>
          <th scope="col">Lieu</th>
          <th scope="col">Créa</th>
          <th scope="col">Modif</th>
        </tr>
      </thead>
      <tbody>
      {#
      {% for photo in photos %}
        <tr>
          <td>{{ photo.idPhoto }}</td>
          <td><img src="{{ photo.ThumbUrl(80) }}" alt=""/></td>
          <td>{{ photo.name }}</td>
          <td>{% if photo.idGroupe %}<a href="{{ photo.groupe.url }}">{{ photo.groupe.name }}</a>{% endif %}</td>
          <td>{% if photo.idEvent %}<a href="{{ photo.event.url }}">{{ photo.event.name }}</a><br/>{{ photo.event.date }}{% endif %}</td>
          <td>{% if photo.idLieu %}<a href="{{ photo.lieu.url }}">{{ photo.lieu.name }}</a><br>{{ photo.lieu.idDepartement }} {{ photo.lieu.city.name }}{% endif %}</td>
          <td>{{ photo.createdAt }}</td>
          <td>{{ photo.modifiedAt }}</td>
        </tr>
      {% endfor %}
      #}
      </tbody>
    </table>
  </div>
</div>

{{ include('common/footer.twig') }}
