{% include 'common/header.twig' %}

<div class="container">

  <div class="row">
  <div class="col-md-8 mx-auto">

  <h2 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">Ajouter une vidéo</h2>
  <div class="border rounded-bottom bg-white p-3">
    <form id="form-video-create" name="form-video-create" method="post" action="/videos/create">

        <div class="row mb-3">
          <label class="form-label col-3" for="code">Url de la vidéo (*)</label>
          <div class="col-9">
            <div class="alert alert-danger" id="error_code"{% if not error_code %} style="display: none"{% endif %}>Vous devez copier/coller un code de vidéo</div>
            <div class="alert alert-danger" id="error_unknown_host"{% if not error_unknow_host %} style="display: none"{% endif %}>Code de la vidéo non reconnu ou hébergeur incompatible</div>
            <input type="text" id="code" name="code" class="form-control" value="">
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label col-3" for="name">Titre (*)</label>
          <div class="col-9">
            <div class="alert alert-danger" id="error_name"{% if not error_name %} style="display: none"{% endif %}>Vous devez saisir un titre pour la vidéo</div>
            <input type="text" id="name" name="name" class="form-control" value="">
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label col-3" for="thumb">Prévisualisation</label>
          <div class="col-9">
            <div id="thumb"></div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label col-3" for="ids_groupe[0]">Groupe(s)</label>
          <div class="col-9">
            {% if groupe %}
              <input type="hidden" name="id_groupe" value="{{ groupe.id }}">
              <span>{{ groupe.name }}</span>
            {% else %}
              <div class="alert alert-danger" id="error_id_groupe"{% if not error_id_groupe %} style="display: none"{% endif %}>Vous devez lier cette vidéo à soit un groupe, soit un lieu, soit un événement</div>
              <select id="ids_groupe[{{ smarty.section.cpt_groupe.index }}]" name="ids_groupe[{{ smarty.section.cpt_groupe.index }}]" class="form-control">
                <option value="">-- Choix d'un groupe --</option>
                {% for groupe in groupes %}
                <option value="{{ groupe.id }}"{% if (index == 0) and groupe.id == id_groupe %} selected="selected"{% endif %}>{{ groupe.name }}</option>
                {% endfor %}
              </select>
            {% endif %}
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label col-3" for="id_lieu">Lieu</label>
          <div class="col-9">
            {% if lieu %}
            <input type="hidden" name="id_lieu" value="{{ lieu.id }}">
            <span>{{ lieu.name }}</span>
            {% else %}
            <select id="id_lieu" name="id_lieu" class="form-control">
              <optgroup label="Autre">
                <option value="0">aucun / non référencé</option>
              </optgroup>
              {% for dep in deps %}
              <optgroup label="{{ dep.idDepartement }} - {{ dep.name }}">
                {% for lieu in lieux[dep.idDepartement] %}
                <option value="{{ lieu.idDepartement }}">{{ lieu.city.cp }} {{ lieu.city.name }} : {{ lieu.name }}</option>
                {% endfor %}
              </optgroup>
              {% endfor %}
            </select>
            {% endif %}
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-3 form-label" for="id_event">Evénement</label>
          <div class="col-9">
            {% if event %}
            <input type="hidden" name="id_event" value="{{ event.id }}">
            <span >{{ event.date }} - {{ event.name }}</span>
            {% else %}
            <select id="id_event" name="id_event" class="form-control">
              <option value="0">Veuillez sélectionner un lieu</option>
            </select>
            {% endif %}
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-3 form-check-label" for="online">Rendre public</label>
          <div class="col-9">
            <input class="form-check-input" type="checkbox" name="online" checked="checked">
          </div>
        </div>

        <div class="row mb-3">
          <div class="offset-3">
            <input id="form-video-create-submit" name="form-video-create-submit" class="btn btn-primary" type="submit" value="💾 Enregistrer">
          </div>
        </div>

    </form>
  </div>

  </div>
  </div>
</div>

{% include 'common/footer.twig' %}
