{{ include('common/header.twig') }}

{% if unknown_video %}

<p class="alert alert-danger">Cette vidéo est introuvable !</p>

{% else %}

<div class="container">

  <div class="row">
  <div class="col-md-8 mx-auto">

  <h1 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">Supprimer une vidéo</h1>
  <div class="border rounded-bottom bg-white p-3">
  <form id="form-video-delete" name="form-video-delete" method="post" action="/videos/delete">

    <div class="row mb-3">
      <label class="form-label col-3" for="name">Titre</label>
      <div class="col-9">
        <span id="name">{{ video.name }}</span>
      </div>
    </div>

    <div class="row mb-3">
      <label class="form-label col-3" for="player">Visualiser</label>
      <div class="col-9">
        {{ video.player|raw }}
      </div>
    </div>

    <div class="row mb-3">
      <label class="form-label col-3" for="thumbnail">Miniature</label>
      <div class="col-9">
        <img src="{{ video.thumbUrl(320) }}" alt=""/>
      </div>
    </div>

    <div class="row mb-3">
      <label class="form-label col-3" for="id_host">Hébergeur</label>
      <div class="col-9">
        <span id="id_host">{{ video.host.name }}</span>
      </div>
    </div>

    <div class="row mb-3">
      <label class="form-label col-3" for="reference">Référence</label>
      <div class="col-9">
        <span id="reference">{{ video.reference }}</span>
      </div>
    </div>

    {% if groupe %}
    <div class="row mb-3">
      <label class="form-label col-3" for="groupe">Groupe</label>
      <div class="col-9">
        <span id="groupe">{{ groupe.name }}</span>
      </div>
    </div>
    {% endif %}

    {% if event %}
    <div class="row mb-3">
      <label class="form-label col-3" for="event">Événement</label>
      <div class="col-9">
        <span id="event">{{ event.date }} - {{ event.name }}</span>
      </div>
    </div>
    {% endif %}

    {% if lieu %}
    <div class="row mb-3">
      <label class="form-label col-3" for="lieu">Lieu</label>
      <div class="col-9">
        <span id="lieu">{{ lieu.name }}</span>
      </div>
    </div>
    {% endif %}

    <div class="row mb-3">
      <label class="form-label col-3" for="online">Afficher</label>
      <div class="col-9">
        <span id="online">{{ video.online }}</span>
      </div>
    </div>

    <div class="row mb-3">
      <div class="offset-3">
        <input id="form-video-delete-submit" name="form-video-delete-submit" class="btn btn-primary" type="submit" value="Confirmer la suppression">
        <input type="hidden" name="id" value="{{ video.idVideo }}">
      </div>
    </div>

  </form>
  </div>
  </div>
  </div>
</div>

{% endif %}

{{ include('common/footer.twig') }}
