{% include 'common/header.twig' %}

<div class="container">

  <h2 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">Mes vidéos</h2>
  <div class="border rounded-bottom bg-white p-3">

    <a href="/videos/create" class="btn btn-primary">➕ Ajouter une vidéo</a>

{% if nb_items > 0 %}

<div class="row">
  {% for video in videos %}
  <div class="video col-md-4">
    <div class="thumb" style="background-image: url({{ video.ThumbUrl(320) }})">
      <a class="playbtn" href="{{ video.editUrl }}">▶</a>
    </div>
    <p class="title"><a href="{{ video.editUrl }}">{{ video.name }}</a></p>
    <p class="subtitle">{% if video.groupe %}{{ video.groupe.name }}{% endif %}</p>
  </div>
  {% endfor %}
</div>

{% else %}

<p>Aucune vidéo</p>

{% endif %}

  <a href="/videos/create" class="btn btn-primary">➕ Ajouter une vidéo</a>

  </div>
</div>

{% include 'common/footer.twig' %}
