{{ include('common/header.twig') }}

<div class="container">

  <h2 class="px-2 py-1 mb-3 bg-dark text-white rounded-top">Mes vidéos</h2>

  <a href="/videos/create" class="btn btn-primary mb-3">➕ Ajouter une vidéo</a>

{% if nb_items > 0 %}

<div class="row row-cols-md-4 g-3 mb-3">
  {% for video in videos %}
  <div class="col">
    <div class="card w-100 shadow-sm">
      <a href="{{ video.editUrl }}" title="Éditer la vidéo {{ video.name }}"><img src="{{ video.thumbUrl(320) }}" class="img-fluid" alt=""></a>
      <div class="card-body">
        <p class="card-text"><a href="{{ video.editUrl }}" title="Éditer la vidéo {{ video.name }}">{{ video.name }}</a></p>
        {% if video.groupe %}
        <p class="card-text">{{ video.groupe.name }}</p>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
  </div>

{% else %}

<p>Aucune vidéo</p>

{% endif %}

  <a href="/videos/create" class="btn btn-primary">➕ Ajouter une vidéo</a>

</div>

{{ include('common/footer.twig') }}
