{{ include('common/header.twig') }}

<div class="container">

{% if unknown_video %}

<p class="alert alert-danger">Cette vidéo est introuvable !</p>

{% else %}

  <h1 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">{{ video.name }}</h1>
  <div class="fluid-video-player {{ video.playerRatio }} mb-3">
  {{ video.player|raw }}
  </div>

  <div class="row">

    <div class="col-md-3 mb-3">
      <h2 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">Partager cette vidéo</h2>
      <div class="border rounded-bottom bg-white p-3">
        {{ include('comments/share.twig', {title: '', url: video.url, text: video.name}) }}
      </div>
    </div>

    {% if groupe %}
    <div class="col-md-3 mb-3">
      <h2 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">Groupe</h2>
      <div class="border rounded-bottom bg-white p-3">
        <a href="{{ groupe.url }}" style="display:block;text-align:center"><img style="display:block;margin:auto" src="{{ groupe.miniPhoto }}" alt=""><strong>{{ groupe.name }}</strong></a>
      </div>
    </div>
    {% endif %}

  {% if event %}
  <div class="col-md-3 mb-3">
    <h2 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">Événement</h2>
    <div class="border rounded-bottom bg-white p-3">
      <a href="{{ event.url }}"><img class="img-fluid" src="{{ event.thumbUrl }}" alt=""><strong>{{ event.name }}</strong></a><br>{{ event.date|format_datetime(pattern: 'dd LLLL yyyy') }}
    </div>
  </div>
  {% endif %}

  {% if lieu %}
  <div class="col-md-3 mb-3">
    <h2 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">Lieu</h2>
    <div class="border rounded-bottom bg-white p-3">
      <a href="{{ lieu.url }}"><strong>{{ lieu.name }}</strong></a><br>{{ lieu.address }}<br>{{ lieu.city.cp }} {{ lieu.city.name }}
    </div>
  </div>
  {% endif %}

  </div>{# .row #}

  {% if videos|length > 0 %}
  <h2 class="px-2 py-1 mb-3 bg-dark text-white rounded-top">Vidéos du même événement</h2>
  <div class="row row-cols-md-4 g-3">
  {% for _video in videos %}
  <div class="col mb-3">
    <div class="card w-100 shadow-sm">
      <a href="{{ _video.url }}" title="Regarder la vidéo {{ _video.name }}"><img src="{{ _video.thumbUrl }}" class="img-fluid" alt=""></a>
      <div class="card-body">
        <p class="card-text"><a href="{{ _video.url }}" title="Regarder la vidéo {{ _video.name }}">{{ _video.name }}</a></p>
        {% if _video.groupe %}
        <p class="card-text"><a href="{{ _video.groupe.url }}" title="Aller à la page du groupe {{ _video.groupe.name }}">{{ _video.groupe.name }}</a></p>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
  {% endif %}

  {% if photos|length > 0 %}
  <h2 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">Photos du même concert</h2>
  <div class="">
    <div class="reset gallery">
    {% for photo in photos %}
      <div class="photo">
        <a href="{{ photo.thumbUrl }}" data-at-1000="{{ photo.ThumbUrl }}" title="{{ photo.name }}{% if photo.groupe %} ({{ photo.groupe.name }}){% endif %}">
          <img src="{{ photo.thumbUrl(80) }}" alt="{{ photo.name }}{% if photo.groupe %} ({{ photo.groupe.name }}){% endif %}">
        </a>
      </div>
    {% endfor %}
    </div>
  </div>
  {% endif %}

{% endif %} {# test unknown video #}

</div> {# .container #}

{{ include('common/footer.twig') }}
