{% include 'common/header.twig' %}

<div class="container">
  <h1>Suppression à l'affiche</h1>
  <form id="form-featured-delete" name="form-featured-delete" action="/adm/featured/delete" method="post">
    <ul>
      <li>
        <label for="title">Titre</label>
        <strong>{{ featured.title }}</strong>
      </li>
      <li>
        <label for="description">Description</label>
        <strong>{{ featured.description }}</strong>
      </li>
      <li>
        <label for="url">Lien</label>
        <strong>{{ featured.url }}</strong>
      </li>
      <li>
        <label for="image">Image</label>
        <img src="{{ featured.image }}" alt="" />
      </li>
      <li>
        <label for="datdeb">Début</label>
        <strong>{{ featured.datDeb }}</strong>
      </li>
      <li>
        <label for="datfin">Fin</label>
        <strong>{{ featured.datFin }}</strong>
      </li>
      <li>
        <label for="online">En ligne</label>
        <strong>{% if featured.online %}✓{% endif %}</strong>
      </li>
    </ol>
    <input id="form-featured-delete-submit" name="form-featured-delete-submit" type="submit" value="Confirmer la suppression">
    <input type="hidden" name="id" value="{{ featured.id }}">
  </form>
</div>

{% include 'common/footer.twig' %}
