{% include 'common/header.twig' %}

<div class="container">
  <h1>Éditer une vidéo</h1>
  <div>

{% if unknown_video %}

<p class="alert alert-danger">Cette vidéo est introuvable !</p>

{% else %}

<form id="form-video-edit" name="form-video-edit" method="post" action="/videos/edit">
  <section class="grid-4">
    <div>
      <label for="name">Titre (*)</label>
    </div>
    <div class="col-3 mbs">
      <div class="infobulle error" id="error_name"{% if not error_name %} style="display: none"{% endif %}>Vous devez saisir un titre pour la vidéo</div>
      <input type="text" id="name" name="name" class="w100" value="{{ video.name }}">
    </div>
    <div>
      <label for="host">Hébergeur</label>
    </div>
    <div class="col-3 mbs">
      <span id="host">{{ video.host.name }}</span>
    </div>
    <div>
      <label for="reference">Référence</label>
    </div>
    <div class="col-3 mbs">
      <span id="reference">{{ video.reference }}</span>
    </div>
    <div>
      <label for="player">Visualiser</label>
    </div>
    <div class="col-3 mbs">
      {{ video.player|raw }}
    </div>
    <div>
      <label for="thumbnail">Miniature</label>
    </div>
    <div class="col-3 mbs">
      <img src="{{ video.thumbUrl(320) }}" alt=""/>
    </div>
    <div>
      <label for="thumbnail_fetch">Réimporter la miniature</label>
    </div>
    <div class="col-3 mbs">
      <input class="checkbox" type="checkbox" id="thumbnail_fetch" name="thumbnail_fetch"/>
    </div>
    <div>
      <label for="ids_groupe[0]">Groupe(s)</label>
    </div>
    <div class="col-3 mbs">
      {assign var=video_groupes value=$video.Groupes }}
      {section name=cpt_groupe loop=5}
      <select id="ids_groupe[{{ smarty.section.cpt_groupe.index}]" name="ids_groupe[{{ smarty.section.cpt_groupe.index}]" class="w100 mbs">
        <option value="">-- Choix d'un groupe --</option>
        {% for groupe in groupes %}
        <option value="{{ groupe.id }}" {% if $video_groupes[$smarty.section.cpt_groupe.index] && ($video_groupes[$smarty.section.cpt_groupe.index].id() === $groupe.id()}} selected="selected"{% endif %}>{{ groupe.name }}</option>
        {% endfor %}
      </select>
      {/section}
    </div>
    <div>
      <label for="id_lieu">Lieu</label>
    </div>
    <div class="col-3 mbs">
      <select id="id_lieu" name="id_lieu" class="w100">
        <optgroup label="Autre">
          <option value="0">aucun / non référencé</option>
        </optgroup>
        {% for dep in deps %}
        <optgroup label="{{ dep.id }} - {{ dep.name }}">
          {% for from=$lieux[$dep.id()] item=lieu}
          <option value="{{ lieu.id }}"{% if video.idLieu == lieu.id %} selected="selected"{% endif %}>{{ lieu.city.cp }} {{ lieu.city.name }} : {{ lieu.name }}</option>
          {% endfor %}
        </optgroup>
        {% endfor %}
      </select>
    </div>
    <div>
      <label for="event">Événement</label>
    </div>
    <div class="col-3 mbs">
      <select id="id_event" name="id_event" class="w100">
        <option value="0">Aucun</option>
      </select>
    </div>
    <div>
      <label for="online">Rendre public</label>
    </div>
    <div class="col-3 mbs">
      <input class="checkbox" type="checkbox" name="online"{% if video.online %} checked="checked"{% endif %}>
    </div>
    <div></div>
    <div class="col-2">
      <input id="form-video-edit-submit" name="form-video-edit-submit" type="submit" class="btn btn--primary" value="Enregistrer">
      <input type="hidden" name="id" value="{{ video.id }}">
      <input type="hidden" name="video_id_event" id="video_id_event" value="{{ video.idEvent }}">
    </div>
    <div class="txtright">
      <a href="/videos/delete/{{ video.id }}" class="btn btn--primary">Supprimer</a>
    </div>
  </section>
</form>


{% endif %} {# test unknown video #}

  </div>
</div>

{% include 'common/footer.twig' %}
