{% include 'common/header.twig' %}

<div class="box">
  <header>
    <h1>Supprimer un lieu</h1>
  </header>
  <div>

{% if unknown_lieu}}

<p class="infobulle error">Ce lieu est introuvable !</p>

{% else %}

<form id="form-lieu-delete" name="form-lieu-delete" action="/lieux/delete" method="post">
  <fieldset>
    <ol>
      <li>Nom : {{ lieu.name }}</li>
      <li>Type : {{ lieu.Type }}</li>
      <li>Adresse : {{ lieu.Address }}</li>
      <li>Code Postal : {{ lieu.city.Cp }}</li>
      <li>Département : {{ lieu.idDepartement }}</li>
      <li>Ville : {{ lieu.city.name }}</li>
      <li>Pays : {{ lieu.Country().name }}</li>
      <li>Description : {{ lieu.Text }}</li>
      <li>Site : {{ lieu.Site }}</li>
      <li>Latitude : {{ lieu.Lat }}</li>
      <li>Longitude : {{ lieu.Lng }}</li>
    </ol>
  </fieldset>
  <input id="form-lieu-delete-submit" name="form-lieu-delete-submit" type="submit" class="btn btn--primary" value="Supprimer">
  <input type="hidden" name="id" value="{{ lieu.id }}">
</form>

{% endif %}

  </div>
</div>

{% include 'common/footer.twig' %}
