{% include 'common/header.twig' %}

<div class="box">
  <header>
    <h1>Éditer un lieu</h1>
  </header>
  <div>

{% if unknown_lieu}}

<p class="infobulle error">Ce lieu est introuvable !</p>

{% else %}

<form id="form-lieu-edit" name="form-lieu-edit" action="/lieux/edit" method="post" enctype="multipart/form-data">
  <section class="grid-4">
    <div>
      <label for="name">Nom (*)</label>
    </div>
    <div class="col-3 mbs">
      <div class="infobulle error" id="error_name"{% if not error_name}} style="display: none"{% endif %}>Vous devez saisir le nom du lieu</div>
      <input id="name" name="name" type="text" class="w100" value="{{ lieu.name }}">
    </div>
    <div>
      <label for="id_type">Type (*)</label>
    </div>
    <div class="col-3 mbs">
      <div class="infobulle error" id="error_id_type"{% if not error_id_type}} style="display: none"{% endif %}>Vous devez préciser le type de lieu</div>
      <select id="id_type" name="id_type">
        <option value="0">--------</option>
        {% for from=$lieu_types item=lieu_type}
        <option value="{{ lieu_type.id }}"{% if $lieu_type.id() == $lieu.idType }} selected="selected"{% endif %}>{{ lieu_type.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label for="text">Description (*)</label>
    </div>
    <div class="col-3 mbs">
      <div class="infobulle error" id="error_text"{% if not error_text}} style="display: none"{% endif %}>Vous devez entrer une description pour le lieu</div>
      <textarea id="text" name="text" rows="5" class="w100">{{ lieu.Text }}</textarea>
    </div>
    <div>
      <label for="photo">Photo (format .jpg)</label>
    </div>
    <div class="col-3 mbs">
      <img src="{{ lieu.PhotoUrl }}" alt="">
      <input id="photo" name="photo" type="file">
    </div>
    <div>
      <label for="id_country">Pays (*)</label>
    </div>
    <div class="col-3 mbs">
      <div class="infobulle error" id="error_id_country"{% if not error_id_country}} style="display: none"{% endif %}>Vous devez choisir un pays</div>
      <select id="id_country" name="id_country" class="w100">
        <option value="0">---</option>
      </select>
    </div>
    <div>
      <label for="id_region">Région (*)</label>
    </div>
    <div class="col-3 mbs">
      <div class="infobulle error" id="error_id_region"{% if not error_id_region}} style="display: none"{% endif %}>Vous devez choisir une région</div>
      <select id="id_region" name="id_region" class="w100">
        <option value="0">---</option>
      </select>
    </div>
    <div>
      <label for="id_departement">Département (*)</label>
    </div>
    <div class="col-3 mbs">
      <div class="infobulle error" id="error_id_departement"{% if not error_id_departement}} style="display: none"{% endif %}>Vous devez choisir un département</div>
      <select id="id_departement" name="id_departement" class="w100">
        <option value="0">---</option>
      </select>
    </div>
    <div>
      <label for="id_city">Ville (*)</label>
    </div>
    <div class="col-3 mbs">
      <div class="infobulle error" id="error_id_city"{% if not error_id_city}} style="display: none"{% endif %}>Vous devez choisir une ville</div>
      <select id="id_city" name="id_city" class="w100">
        <option value="0">---</option>
      </select>
    </div>
    <div>
      <label for="address">Adresse (*)</label>
    </div>
    <div class="col-3 mbs">
      <div class="infobulle error" id="error_address"{% if not error_address}} style="display: none"{% endif %}>Vous devez préciser l'adresse</div>
      <input id="address" name="address" type="text" class="w100" value="{{ lieu.Address }}">
    </div>
    <div>
      <label for="site">Site</label>
    </div>
    <div class="col-3 mbs">
      <div class="infobulle error" id="error_site"{% if not error_site}} style="display: none"{% endif %}>Vous devez saisir le site internet</div>
      <input id="site" name="site" type="text" class="w100" value="{{ lieu.Site }}">
    </div>
    <div>
      <label for="lat">Latitude</label>
    </div>
    <div class="col-3 mbs">
      <div class="infobulle error" id="error_lat"{% if not error_lat}} style="display: none"{% endif %}>Vous devez préciser la latitude</div>
      <input id="lat" name="lat" type="text" class="w100" value="{{ lieu.Lat }}">
    </div>
    <div>
      <label for="lng">Longitude</label>
    </div>
    <div class="col-3 mbs">
      <div class="infobulle error" id="error_lng"{% if not error_lng}} style="display: none"{% endif %}>Vous devez préciser la longitude</div>
      <input id="lng" name="lng" type="text" class="w100" value="{{ lieu.Lng }}">
    </div>
    <div></div>
    <div class="col-3">
      <input id="form-lieu-edit-submit" name="form-lieu-edit-submit" class="btn btn--primary w100" type="submit" value="Modifier">
      <input type="hidden" name="id" value="{{ lieu.id }}">
    </div>
  </section>
</form>

{% endif %}

  </div>
</div>

{% include 'common/footer.twig' %}
