{% include 'common/header.twig' %}

<div class="box">
  <header>
    <h1>Lieux</h1>
  </header>
  <div>
  {% for from=$regions item=region}
    <h2>{{ region.name }}</h2>
    {% for from=$departements[$region.idRegion()] item=departement}
    <h3>{{ departement.idDepartement }} - {{ departement.name }}</h3>
    {% if $lieux[$region.idRegion()][$departement.idDepartement()]|length > 0}
    <table class="table table--zebra">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Code Postal</th>
          <th>Ville</th>
          <th>Adresse</th>
        </tr>
      </thead>
      <tbody>
        {% for from=$lieux[$region.idRegion()][$departement.idDepartement()] item=lieu}
        <tr>
          <td><a href="{{ lieu.Url }}">{{ lieu.name }}</a></td>
          <td>{{ lieu.city.Cp }}</td>
          <td>{{ lieu.city.name }}</td>
          <td>{{ lieu.Address }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>Pas de lieu référencé dans ce département</p>
    {% endif %}
    {% endfor %}
  {% endfor %}
  </div>
</div>

{% include 'common/footer.twig' %}
