{% include 'common/header.twig' %}

<div class="box">
  <header>
    <h1>Lieux</h1>
  </header>
  <div>
  {% for region in regions %}
    <h2>{{ region.name }}</h2>
    {% for departement in departements[region.id] %}
    <h3>{{ departement.id }} - {{ departement.name }}</h3>
    {% if lieux[region.id][departement.id]|length > 0 %}
    <table class="table table--zebra">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Code Postal</th>
          <th>Ville</th>
          <th>Adresse</th>
        </tr>
      </thead>
      <tbody>
        {% for lieu in lieux[region.id][departement.id] %}
        <tr>
          <td><a href="{{ lieu.url }}">{{ lieu.name }}</a></td>
          <td>{{ lieu.city.cp }}</td>
          <td>{{ lieu.city.name }}</td>
          <td>{{ lieu.address }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>Pas de lieu référencé dans ce département</p>
    {% endif %}
    {% endfor %}
  {% endfor %}
  </div>
</div>

{% include 'common/footer.twig' %}
