{% include 'common/header.twig' %}

{% if unknown_lieu}}

<p class="infobulle error">Ce lieu est introuvable !</p>

{% else %}

{% if create}}
<div class="infobulle success">Le lieu a bien été ajouté</div>
{% endif %}

{% if edit}}
<div class="infobulle success">Le lieu a bien été modifié</div>
{% endif %}

<div class="box">
  <header>
    <h1>{{ lieu.Name }}</h1>
  </header>
  <div>
    <div id="map_canvas" style="width: 50%; height: 320px; float: right; z-index: 1"></div>

    <div class="infos" style="width: 300px; padding: 10px;">
      <strong>{{ lieu.Name }}</strong><br>
      {{ lieu.Address }}<br>
      {{ lieu.City().Cp }} {{ lieu.City().Name }}<br>
      {% if $lieu.IdCountry() === 'FR'}
      {{ lieu.IdDepartement }} / {{ lieu.Departement().Name }}<br>
      {% endif %}
      {{ lieu.Region().Name }}<br>
      <img src="{{ lieu.Country().FlagUrl }}" alt="{{ lieu.IdCountry }}"> {{ lieu.Country().Name }}
    </div>

    <div class="infos" style="padding: 10px;">
      {{ lieu.Type }}<br>
      {% if $lieu.Site }}
      <a href="{{ lieu.Site }}">{{ lieu.Site }}</a><br>
      {% endif %}
    </div>

    <div class="infos" style="padding: 10px;">
    {{ lieu.Text()|nl2br}
    </div>

    <br style="clear: both;">

  </div>
</div>

{% if events_f}}
<div class="box">
  <header>
    <h2>Agenda</h2>
  </header>
  <div>
    <ul>
      {% for $events_f as $event}
      {assign var=structures value=$event.Structures }}
      <li>{% if $structures}<img src="{{ structures[0].Picto }}" alt="" title="Organisé par {{ structures[0].Name }}">{% endif %}<a href="{{ event.Url }}">Le {{ event.Date()|date_format:"%d/%m/%Y %H:%M"} - {{ event.Name }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

{% if events_p}}
<div class="box">
  <header>
    <h2>Evénements passés</h2>
  </header>
  <div>
    <ul>
      {% for from=$events_p item=event}
      {assign var=structures value=$event.Structures }}
      <li>{% if $structures}<img src="{{ structures[0].Picto }}" alt="" title="Organisé par {{ structures[0].Name }}">{% endif %}<a href="{{ event.Url }}">Le {{ event.Date()|date_format:"%d/%m/%Y %H:%M"} - {{ event.Name }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

{% if photos}}
<div class="box">
  <header>
    <h2>Photos</h2>
  </header>
  <div class="reset gallery">
  {% for from=$photos item=photo}
    <div class="photo">
      <a href="{{ photo.ThumbUrl(1000}}" data-id="{{ photo.IdPhoto }}" data-at-1000="{{ photo.ThumbUrl(1000}}" title="{{ photo.Name }}{% if photo.Groupe()}} ({{ photo.Groupe().Name }}){% endif %} 📷 {{ photo.Credits }}">
        <img data-id="{{ photo.IdPhoto }}" src="{{ photo.ThumbUrl(320}}" alt="{{ photo.Name }}{% if photo.Groupe()}} ({{ photo.Groupe().Name }}){% endif %}">
      </a>
    </div>
  {% endfor %}
  </div>
</div>
{% endif %}

{% if audios}}
<div class="box">
  <header>
    <h2>Sons</h2>
  </header>
  <div>
    <ul>
      {% for $audios as $audio}
      <li>Titre : <strong>{{ audio.Name }}</strong>
      {% if audio.Groupe()}}<br>Groupe : <a href="{{ audio.Groupe().Url }}">{{ audio.Groupe().Name }}</a>{% endif %}
      {% if audio.Event()}}<br>Evénement : <a href="{{ audio.Event().Url }}">{{ audio.Event().Name }}</a> ({{ audio.Event().Date()|date_format:'%d/%m/%Y'}){% endif %}
      <br><audio src="{{ audio.DirectMp3Url }}"></audio></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

{% if videos}}
<div class="box">
  <header>
    <h2>Vidéos</h2>
  </header>
  <div class="reset grid-3-small-2 has-gutter">
    {% for $videos as $video}
    <div class="video">
      <div class="thumb" style="background-image: url({{ video.ThumbUrl(320}})">
        <a class="playbtn" href="{{ video.Url }}" title="Regarder la vidéo {{ video.Name }}">▶</a>
      </div>
      <p class="title"><a href="{{ video.Url }}" title="Regarder la vidéo {{ video.Name }}">{{ video.Name }}</a></p>
      <p class="subtitle">
        {% if video.Groupe()}}<a href="{{ video.Groupe().Url }}" title="Aller à la page du groupe {{ video.Groupe().Name }}">{{ video.Groupe().Name }}</a>{% endif %}
        {% if video.Groupe()) && video.Event()}}<br/>{% endif %}
        {% if video.Event()}}<a href="{{ video.Event().Url }}" title="Aller à la page de l'événement {{ video.Event().Name }}">{{ video.Event().Date()|date_format:"%a %e %B %Y"}</a>{% endif %}
      </p>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% endif %} {# test unknown lieu #}

{% include 'common/footer.twig' %}
