{% include 'common/header.twig' %}

{% if unknown_structure}}

<p class="infobulle error">Cette structure est introuvable !</p>

{% else %}

<div class="box">
  <header>
    <h1>{{ structure.name }}</h1>
  </header>
  <div>

<table>
  <tr>
    <th>Id</th>
    <td>{{ structure.idStructure }}</td>
  </tr>
  <tr>
    <th>Nom</th>
    <td>{{ structure.name }}</td>
  </tr>
  <tr>
    <th>Imagette</th>
    <td><img src="{{ structure.Picto }}" alt=""></td>
  </tr>
  <tr>
    <th>Evénements</th>
    <td>
      <ul>
      {% for $events as $event}
        <li><a href="{{ event.Url }}">{{ event.Date }} : {{ event.name }}</a></li>
      {% endfor %}
      </ul>
    </td>
  </tr>
</table>

  </div>
</div>

{% endif %} {# test unknown structure #}

{% include 'common/footer.twig' %}
