{% include 'common/header.twig' %}

<div class="box">
  <header>
    <h1>Foire aux questions</h1>
  </header>
  <div>
  {% if create}}<p class="infobulle success">Question ajoutée</p>{% endif %}
  {% if edit}}<p class="infobulle success">Question modifiée</p>{% endif %}
  {% if delete}}<p class="infobulle success">Question supprimée</p>{% endif %}
  <table class="table table--zebra">
    <thead>
      <tr>
        <th>Id</th>
        <th>Catégorie</th>
        <th>Question</th>
        <th>En ligne</th>
      </tr>
    </thead>
    <tbody>
      {% for from=$faq item=f}
      <tr>
        <td>{{ f.id }}</td>
        <td>{{ f.Category().name }}</td>
        <td><a href="/adm/faq/edit/{{ f.id }}">{{ f.Question }}</a></td>
        <td>{{ f.Online }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="btn btn--primary" href="/adm/faq/create">Ajouter une question</a>
  </div>
</div>

{% include 'common/footer.twig' %}
