{{ include('common/header.twig') }}

<div class="container">
  <h1>Supprimer un lieu</h1>
<div>

{% if unknown_lieu %}

<p class="alert alert-danger">Ce lieu est introuvable !</p>

{% else %}

<form id="form-lieu-delete" name="form-lieu-delete" action="/lieux/delete" method="post">
  <fieldset>
    <ol>
      <li>Nom : {{ lieu.name }}</li>
      <li>Type : {{ lieu.type.name }}</li>
      <li>Adresse : {{ lieu.address }}</li>
      <li>Code Postal : {{ lieu.city.cp }}</li>
      <li>Département : {{ lieu.idDepartement }}</li>
      <li>Ville : {{ lieu.city.name }}</li>
      <li>Pays : {{ lieu.country.name }}</li>
      <li>Description : {{ lieu.text }}</li>
      <li>Site : {{ lieu.site }}</li>
      <li>Latitude : {{ lieu.lat }}</li>
      <li>Longitude : {{ lieu.lng }}</li>
    </ol>
  </fieldset>
  <input id="form-lieu-delete-submit" name="form-lieu-delete-submit" type="submit" class="btn btn-primary" value="Supprimer">
  <input type="hidden" name="id" value="{{ lieu.idLieu }}">
</form>

{% endif %}

{{ include('common/footer.twig') }}
