{{ include('common/header.twig') }}

<div class="container">
  <h1>Mes lieux</h1>
  <div>
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th>Nom</th>
          <th>Adresse</th>
          <th>CP</th>
          <th>Ville</th>
          <th>Département</th>
          <th>Région</th>
          <th>Pays</th>
        </tr>
      </thead>
      <tbody>
        {% for lieu in lieux %}
        <tr>
          <td><a href="/lieux/{{ lieu.idLieu }}">{{ lieu.name }}</a></td>
          <td>{{ lieu.address }}</td>
          <td>{{ lieu.city.cp }}</td>
          <td>{{ lieu.city.name }}</td>
          <td>{{ lieu.idDepartement }}</td>
          <td>{{ lieu.idRegion }}</td>
          <td>{{ lieu.idCountry }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{{ include('common/footer.twig') }}
