{% include 'common/header.twig' %}

<div class="container">

{% if unknown_lieu %}

<p class="alert alert-danger">Ce lieu est introuvable !</p>

{% else %}

{% if create %}
<div class="alert alert-success">Le lieu a bien été ajouté</div>
{% endif %}

{% if edit %}
<div class="alert alert-success">Le lieu a bien été modifié</div>
{% endif %}

  <h1 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">{{ lieu.name }}</h1>
  <div class="border rounded-bottom bg-white p-3">
    <div class="row mb-3">
      <div class="col-md">
        <div>
          <strong>{{ lieu.name }}</strong><br>
          {{ lieu.address }}<br>
          {{ lieu.city.cp }} {{ lieu.city.name }}<br>
          {% if lieu.idCountry == 'FR' %}
          {{ lieu.idDepartement }} / {{ lieu.departement.name }}<br>
          {% endif %}
          {{ lieu.region.name }}<br>
          <img src="{{ lieu.country.flagUrl }}" alt="{{ lieu.idCountry }}"> {{ lieu.country.name }}
        </div>
        <div>
          {{ lieu.type }}<br>
          {% if lieu.site %}
          <a href="{{ lieu.site }}">{{ lieu.site }}</a><br>
          {% endif %}
        </div>
        <div>
        {{ lieu.text }}
        </div>
      </div>
      <div class="col-md-6">
        <div id="map_canvas" class="h-100"></div>
      </div>
    </div>
  </div>

  {% if events_f %}
  <h2 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">Agenda</h2>
  <div class="border rounded-bottom bg-white p-3 mb-3">
    <ul>
      {% for event in events_f %}
      <li>{% if event.structures %}<img src="{{ event.structures[0].picto }}" alt="" title="Organisé par {{ event.structures[0].name }}">{% endif %}<a href="{{ event.url }}">Le {{ event.date }} - {{ event.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if events_p %}
  <h2 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">Evénements passés</h2>
  <div class="border rounded-bottom bg-white p-3 mb-3">
    <ul>
      {% for event in events_p %}
      <li>{% if event.structures %}<img src="{{ event.structures[0].picto }}" alt="" title="Organisé par {{ event.structures[0].name }}">{% endif %}<a href="{{ event.url }}">Le {{ event.date }} - {{ event.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if photos %}
  <h2 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">Photos</h2>
  <div class="border rounded-bottom bg-white p-3 mb-3">
  {% for photo in photos %}
    <div class="photo">
      <a href="{{ photo.thumbUrl }}" data-id="{{ photo.id }}" data-at-1000="{{ photo.thumbUrl }}" title="{{ photo.name }}{% if photo.groupe %} ({{ photo.groupe.name }}){% endif %} 📷 {{ photo.credits }}">
        <img data-id="{{ photo.id }}" src="{{ photo.thumbUrl }}" alt="{{ photo.name }}{% if photo.groupe %} ({{ photo.groupe.name }}){% endif %}">
      </a>
    </div>
  {% endfor %}
  </div>
  {% endif %}

  {% if audios %}
  <h2 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">Sons</h2>
  <div class="border rounded-bottom bg-white p-3 mb-3">
    <ul>
      {% for audio in audios %}
      <li>Titre : <strong>{{ audio.name }}</strong>
      {% if audio.groupe %}<br>Groupe : <a href="{{ audio.groupe.url }}">{{ audio.groupe.name }}</a>{% endif %}
      {% if audio.event %}<br>Evénement : <a href="{{ audio.event.url }}">{{ audio.event.name }}</a> ({{ audio.event.date }}){% endif %}
      <br><audio src="{{ audio.directMp3Url }}"></audio></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if videos %}
  <h2 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">Vidéos</h2>
  <div class="row mb-3">
    {% for video in videos %}
    <div class="col-md-4 video">
      <div class="thumb" style="background-image: url({{ video.thumbUrl }})">
        <a class="playbtn" href="{{ video.url }}" title="Regarder la vidéo {{ video.name }}">▶</a>
      </div>
      <p class="title"><a href="{{ video.url }}" title="Regarder la vidéo {{ video.name }}">{{ video.name }}</a></p>
      <p class="subtitle">
        {% if video.groupe %}<a href="{{ video.groupe.url }}" title="Aller à la page du groupe {{ video.groupe.name }}">{{ video.groupe.name }}</a>{% endif %}
        {% if video.groupe and video.event %}<br/>{% endif %}
        {% if video.event %}<a href="{{ video.event.url }}" title="Aller à la page de l'événement {{ video.event.name }}">{{ video.event.date }}</a>{% endif %}
      </p>
    </div>
    {% endfor %}
  </div>
  {% endif %}

{% endif %} {# test unknown lieu #}

</div> {# .container #}

{% include 'common/footer.twig' %}
