{% include 'common/header.twig' %}

<div class="box">
  <h1>Newsletters</h1>
  <div>
    <p>nombre d'abonnés : {{ nb_sub }}</p>
    <p><a href="/adm/newsletter/create" class="btn btn-primary">Écrire une lettre</a></p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="w10">#</th>
          <th scope="col" class="w10">Voir</th>
          <th scope="col">Sujet</th>
        </tr>
      </thead>
      <tbody>
        {% for newsletter in newsletters %}
        <tr>
          <td>{{ newsletter.id }}</td>
          <td><a href="/newsletters/{{ newsletter.id }}" target="_blank">[voir]</a></td>
          <td><a href="/adm/newsletter/edit/{{ newsletter.id }}">{{ newsletter.title }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include 'common/footer.twig' %}
