{% include 'common/header.twig' %}

{% if unknown_member}}

<p class="infobulle error">Ce membre est introuvable</p>

{% else %}

<div class="box">
  <header>
    <h1>Profil de {{ membre.Pseudo }}</h1>
  </header>
  <div class="grid-3">
    <div class="col-1 profile">
      {% if $membre.AvatarUrl }}
      <img src="{{ membre.AvatarUrl }}" alt="{{ membre.Pseudo }}">
      {% endif %}
      <strong>{{ membre.Pseudo }}</strong>
      {% if $membre.Site }}
      <a href="{{ membre.Site }}">{{ membre.Site }}</a>
      {% endif %}
      <a class="btn btn--primary" href="/messagerie/write?pseudo={{ membre.Pseudo }}">Lui écrire</a>
    </div>
    <div class="col-2">
      {{ membre.Text }}
    </div>
  </div>
</div>

{% if $groupes.length > 0}
<div class="box">
  <header>
    <h2>Ses groupes</h2>
  </header>
  {% if !count($groupes}}
  <div>
    <p>{{ membre.Pseudo }} ne fait partie d'aucun groupe.</p>
  </div>
  {% else %}
  <div class="reset grid-8-small-4 has-gutter">
    {% for from=$groupes item=groupe}
    <div class="grpitem">
      <a href="{{ groupe.Url }}">
        <img src="{{ groupe.MiniPhoto }}" alt="" />
        <p>{{ groupe.Name }}</p>
      </a>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endif %}

{% endif %} {# test unknown membre #}

{% include 'common/footer.twig' %}
