{% include 'common/header.twig' %}

{% if $me->isInterne }}
<div class="infobulle info"><a href="/adm">🔗 <strong>Accès zone privée</strong></a></div>
{% endif %}

<div class="grid-4-small-2-tiny-1 has-gutter">

  <div class="col-1">

  <div class="box">
    <header>
      <h2>Mes Infos Persos</h2>
    </header>
    <div>
      <ul>  
        <li>
          <strong style="float: right">{{ me.Pseudo }}</strong>
          <label for="pseudo">Pseudo</label>
        </li>
        <li>
          <span id="last_name" style="float: right;">{{ me.LastName }}</span>
          <label for="last_name">Nom</label>
        </li>
        <li>
          <span id="first_name" style="float: right;">{{ me.FirstName }}</span>
          <label for="first_name">Prénom</label>
        </li>
        <li>
          <span id="created_at" style="float: right">{{ me.CreatedAt()|date_format:"%d/%m/%Y"}</span>
          <label for="created_at">Inscription</label>
        </li>
        <li>
          <span id="modified_at" style="float: right">{{ me.ModifiedAt()|date_format:"%d/%m/%Y"}</span>
          <label for="modified_at">Modification</label>
        </li>
        <li>
          <span id="visited_at" style="float: right">{{ me.VisitedAt()|date_format:"%d/%m/%Y"}</span>
          <label for="visited_at">Visite</label>
        </li>
        <li>
          <span style="float: right">
          <img src="{{ me.AvatarUrl }}" alt=""><br>
          </span>
          <label for="avatar">Avatar</label>
        </li>
      </ul>
      <p><a class="btn btn--primary" href="/membres/edit">Éditer mes infos persos</a></p>
      <p><a class="btn btn--primary" href="/auth/logout">Déconnexion</a></p>
    </div>
  </div>

  </div>

  <div class="col-2">

  <div class="box">
    <header>
      <h2>Messages reçus</h2>
    </header>
    <div>
      <table>
        <tr>
          <th>Lu</th>
          <th>De</th>
          <th>Date</th>
          <th>Message</th>
        </tr>
        {% for from=$inbox key=cpt item=msg}
        <tr class="{% if $cpt is odd}odd{% else %}even{% endif %}">
          <td><img src="/img/icones/{% if msg.read_to}}email_open.png{% else %}email.png{% endif %}" alt=""></td>
          <td><a href="/messagerie/write?pseudo={{ msg.pseudo}">{{ msg.pseudo}</a></td>
          <td>{{ msg.date|date_format:'%d/%m/%Y à %H:%M'}</td>
          <td><a href="/messagerie/read/{{ msg.id}">{{ msg.text|truncate:40}</a></td>
        </tr>
        {% endfor %}
      </table>
      <p><a class="btn btn--primary" href="/messagerie">Tous mes messages</a></p>
    </div>
  </div>

  </div>

  <div class="col-1">

  <div class="box">
    <header>
      <h2>Mes alertes</h2>
    </header>
    <div>
      <h5>Groupes</h5>
      {% if alerting_groupes}}
      <ul>
        {% for $alerting_groupes as $groupe}
        <li><a href="{{ groupe.Url }}">{{ groupe.Name }}</a></li>
        {% endfor %}
      </ul>
      {% else %}
      <p class="infobulle validation"">Aucun abonnement groupe</p>
      {% endif %}
      <h5>Évènements</h5>
      {% if alerting_events}}
      <ul>
      {% for $alerting_events as $event}
        <li><a href="{{ event.Url }}">{{ event.Name }}</a></li>
      {% endfor %}
      </ul>
      {% else %}
      <p class="infobulle validation"">Aucun abonnement évènement</p>
      {% endif %}
      <h5>Lieux</h5>
      {% if alerting_lieux}}
      <ul>
      {% for $alerting_lieux as $lieu}
        <li><a href="{{ lieu.Url }}">{{ lieu.Name }}</a></li>
      {% endfor %}
      </ul>
      {% else %}
      <p class="infobulle validation"">Aucun abonnement lieu</p>
      {% endif %}
      <p><a class="btn btn--primary" href="/alerting/my">Gérer toutes mes alertes</a></p>
    </div>
  </div>

  </div>

  <div class="box">
    <header>
      <h2>Mes Groupes</h2>
    </header>
    <div>
      {% if $groupes.length > 0}
      <p>Vous administrez le(s) groupe(s) suivant(s) :</p>
      <ul>
        {% for $groupes as $groupe}
        <li><a href="/groupes/edit/{{ groupe.IdGroupe }}" title="{{ groupe.Name }}">{{ groupe.Name }}</a></li>
        {% endfor %}
      </ul>
      <p><a class="btn btn--primary" href="/groupes/my">Tous mes groupes</a></p>
      {% else %}
      <p>aucun groupe</p>
      {% endif %}
      <p><a class="btn btn--primary" href="/groupes/create">Inscrire un groupe</a></p>
    </div>
  </div>

  <div class="box">
    <header>
      <h2>Mes photos</h2>
    </header>
    <div>
      {% if $nb_photos > 0}
      <p>Vous avez {{ nb_photos} photos</p>
      <p><a class="btn btn--primary" href="/photos/my">Toutes mes photos</a></p>
      {% else %}
      <p>Aucune photo</p>
      {% endif %}
      <p><a class="btn btn--primary" href="/photos/create">Ajouter une photo</a></p>
    </div>
  </div>

  <div class="box">
    <header>
      <h2>Mes vidéos</h2>
    </header>
    <div>
      {% if $nb_videos > 0}
      <p>Vous avez {{ nb_videos} vidéos</p>
      <p><a class="btn btn--primary" href="/videos/my">Toutes mes vidéos</a></p>
      {% else %}
      <p>Aucune vidéo</p>
      {% endif %}
      <p><a class="btn btn--primary" href="/videos/create">Ajouter une vidéo</a></p>
    </div>
  </div>

  <div class="box">
    <header>
      <h2>Mes musiques</h2>
    </header>
    <div>
      {% if $nb_audios > 0}
      <p>Vous avez {{ nb_audios} audios</p>
      <p><a class="btn btn--primary" href="/audios/my">Toutes mes musiques</a></p>
      {% else %}
      <p>Aucune musique</p>
      {% endif %}
      <p><a class="btn btn--primary" href="/audios/create">Ajouter une musique</a></p>
    </div>
  </div>

  <div class="box">
    <header>
      <h2>Lieux</h2>
    </header>
    <div>
      <p><a class="btn btn--primary" href="/lieux/create">Ajouter un lieu</a></p>
    </div>
  </div>

  <div class="box">
    <header>
      <h2>Événements</h2>
    </header>
    <div>
      <p><a class="btn btn--primary" href="/events/create">Ajouter un événement</a></p>
    </div>
  </div>

</div>

{% include 'common/footer.twig' %}
