{% include 'common/header.twig' %}

{% if me.interne %}
<div class="infobulle info"><a href="/adm">🔗 <strong>Accès zone privée</strong></a></div>
{% endif %}

<div class="grid-4-small-2-tiny-1 has-gutter">

  <div class="col-1">

  <div class="box">
    <header>
      <h2>Mes Infos Persos</h2>
    </header>
    <div>
      <ul>
        <li>
          <strong style="float: right">{{ me.pseudo }}</strong>
          <label for="pseudo">Pseudo</label>
        </li>
        <li>
          <span id="last_name" style="float: right;">{{ me.lastName }}</span>
          <label for="last_name">Nom</label>
        </li>
        <li>
          <span id="first_name" style="float: right;">{{ me.firstName }}</span>
          <label for="first_name">Prénom</label>
        </li>
        <li>
          <span id="created_at" style="float: right">{{ me.createdAt|date_format:"%d/%m/%Y" }}</span>
          <label for="created_at">Inscription</label>
        </li>
        <li>
          <span id="modified_at" style="float: right">{{ me.modifiedAt|date_format:"%d/%m/%Y" }}</span>
          <label for="modified_at">Modification</label>
        </li>
        <li>
          <span id="visited_at" style="float: right">{{ me.visitedAt|date_format:"%d/%m/%Y" }}</span>
          <label for="visited_at">Visite</label>
        </li>
        <li>
          <span style="float: right">
          <img src="{{ me.avatarUrl }}" alt=""><br>
          </span>
          <label for="avatar">Avatar</label>
        </li>
      </ul>
      <p><a class="btn btn--primary" href="/membres/edit">Éditer mes infos persos</a></p>
      <p><a class="btn btn--primary" href="/auth/logout">Déconnexion</a></p>
    </div>
  </div>

  </div>

  <div class="col-2">

  <div class="box">
    <header>
      <h2>Messages reçus</h2>
    </header>
    <div>
      <table>
        <tr>
          <th>Lu</th>
          <th>De</th>
          <th>Date</th>
          <th>Message</th>
        </tr>
        {% for cpt, msg in inbox %}
        <tr class="{% if cpt is odd %}odd{% else %}even{% endif %}">
          <td><img src="/img/icones/{% if msg.read_to %}email_open.png{% else %}email.png{% endif %}" alt=""></td>
          <td><a href="/messagerie/write?pseudo={{ msg.pseudo }}">{{ msg.pseudo }}</a></td>
          <td>{{ msg.date|date_format:'%d/%m/%Y à %H:%M' }}</td>
          <td><a href="/messagerie/read/{{ msg.id }}">{{ msg.text|truncate:40 }}</a></td>
        </tr>
        {% endfor %}
      </table>
      <p><a class="btn btn--primary" href="/messagerie">Tous mes messages</a></p>
    </div>
  </div>

  </div>

  <div class="col-1">

  <div class="box">
    <header>
      <h2>Mes alertes</h2>
    </header>
    <div>
      <h5>Groupes</h5>
      {% if alerting_groupes %}
      <ul>
        {% for groupe in alerting_groupes %}
        <li><a href="{{ groupe.url }}">{{ groupe.name }}</a></li>
        {% endfor %}
      </ul>
      {% else %}
      <p class="infobulle validation">Aucun abonnement groupe</p>
      {% endif %}
      <h5>Évènements</h5>
      {% if alerting_events %}
      <ul>
      {% for event in alerting_events %}
        <li><a href="{{ event.url }}">{{ event.name }}</a></li>
      {% endfor %}
      </ul>
      {% else %}
      <p class="infobulle validation">Aucun abonnement évènement</p>
      {% endif %}
      <h5>Lieux</h5>
      {% if alerting_lieux %}
      <ul>
      {% for lieu in alerting_lieux %}
        <li><a href="{{ lieu.url }}">{{ lieu.name }}</a></li>
      {% endfor %}
      </ul>
      {% else %}
      <p class="infobulle validation">Aucun abonnement lieu</p>
      {% endif %}
      <p><a class="btn btn--primary" href="/alerting/my">Gérer toutes mes alertes</a></p>
    </div>
  </div>

  </div>

  <div class="box">
    <header>
      <h2>Mes Groupes</h2>
    </header>
    <div>
      {% if groupes|length > 0 %}
      <p>Vous administrez le(s) groupe(s) suivant(s) :</p>
      <ul>
        {% for groupe in groupes %}
        <li><a href="/groupes/edit/{{ groupe.id }}" title="{{ groupe.name }}">{{ groupe.name }}</a></li>
        {% endfor %}
      </ul>
      <p><a class="btn btn--primary" href="/groupes/my">Tous mes groupes</a></p>
      {% else %}
      <p>aucun groupe</p>
      {% endif %}
      <p><a class="btn btn--primary" href="/groupes/create">Inscrire un groupe</a></p>
    </div>
  </div>

  <div class="box">
    <header>
      <h2>Mes photos</h2>
    </header>
    <div>
      {% if nb_photos > 0 %}
      <p>Vous avez {{ nb_photos }} photos</p>
      <p><a class="btn btn--primary" href="/photos/my">Toutes mes photos</a></p>
      {% else %}
      <p>Aucune photo</p>
      {% endif %}
      <p><a class="btn btn--primary" href="/photos/create">Ajouter une photo</a></p>
    </div>
  </div>

  <div class="box">
    <header>
      <h2>Mes vidéos</h2>
    </header>
    <div>
      {% if nb_videos > 0 %}
      <p>Vous avez {{ nb_videos }} vidéos</p>
      <p><a class="btn btn--primary" href="/videos/my">Toutes mes vidéos</a></p>
      {% else %}
      <p>Aucune vidéo</p>
      {% endif %}
      <p><a class="btn btn--primary" href="/videos/create">Ajouter une vidéo</a></p>
    </div>
  </div>

  <div class="box">
    <header>
      <h2>Mes musiques</h2>
    </header>
    <div>
      {% if nb_audios > 0 %}
      <p>Vous avez {{ nb_audios }} audios</p>
      <p><a class="btn btn--primary" href="/audios/my">Toutes mes musiques</a></p>
      {% else %}
      <p>Aucune musique</p>
      {% endif %}
      <p><a class="btn btn--primary" href="/audios/create">Ajouter une musique</a></p>
    </div>
  </div>

  <div class="box">
    <header>
      <h2>Lieux</h2>
    </header>
    <div>
      <p><a class="btn btn--primary" href="/lieux/create">Ajouter un lieu</a></p>
    </div>
  </div>

  <div class="box">
    <header>
      <h2>Événements</h2>
    </header>
    <div>
      <p><a class="btn btn--primary" href="/events/create">Ajouter un événement</a></p>
    </div>
  </div>

</div>

{% include 'common/footer.twig' %}
