{{ include('common/header.twig') }}

<div class="container">
  <h1>Éditer une photo</h1>
<div>

{% if unknown_photo %}

<p class="alert alert-danger">Cette photo est introuvable !</p>

{% else %}

<form id="form-photo-edit" name="form-photo-edit" method="post" action="/photos/edit" enctype="multipart/form-data">
  <section class="grid-4">

    <div>
      <label for="photo">Photo</label>
    </div>
    <div class="col-3 mbs">
      <img id="photo" src="{{ photo.thumbUrl }}" alt=""/>
    </div>

    <div>
      <p>Pivoter la photo</p>
    </div>
    <div class="col-3 mbs">
      <div>
        <input type="radio" class="radio" name="rotation" id="rotation-0" value="0" checked>
        <label for="rotation-0" class="inline">∅ Aucune rotation</label>
      </div>
      <div>
        <input type="radio" class="radio" name="rotation" id="rotation-90cw" value="-90">
        <label for="rotation-90cw" class="inline">⤶ Rotation 90° horaire</label>
      </div>
      <div>
        <input type="radio" class="radio" name="rotation" id="rotation-90acw" value="90">
        <label for="rotation-90acw" class="inline">⤷ Rotation 90° anti-horaire</label>
      </div>
      <div>
        <input type="radio" class="radio" name="rotation" id="rotation-180" value="180">
        <label for="rotation-180" class="inline">↶ Rotation 180°</label>
      </div>
    </div>

    <div>
      <label for="id_contact">Ajouté le</label>
    </div>
    <div class="col-3 mbs">
      {{ photo.createdAt }} par <a href="/membres/{{ photo.idContact }}">{{ photo.pseudo }}</a>
    </div>

    {% if photo.modifiedAt %}
    <div>
      <label for="modified_at">Modifié le</label>
    </div>
    <div class="col-3 mbs">
      <span>{{ photo.modifiedAt }}</span>
    </div>
    {% endif %}

    <div>
      <label for="name">Titre (*)</label>
    </div>
    <div class="col-3 mbs">
      <div class="alert alert-danger" id="error_name"{% if not error_name %} style="display: none"{% endif %}>Vous devez saisir un titre pour la photo</div>
      <input type="text" id="name" name="name" placeholder="Titre" class="w100" value="{{ photo.name }}">
    </div>

    <div>
      <label for="credits">Crédits (*)</label>
    </div>
    <div class="col-3 mbs">
      <div class="alert alert-danger" id="error_credits"{% if not error_credits %} style="display: none"{% endif %}>Vous devez saisir le nom du photographe</div>
      <input type="text" id="credits" name="credits" placeholder="Nom du photographe" class="w100" value="{{ photo.credits }}">
    </div>

    <div>
      <label for="id_groupe">Groupe</label>
    </div>
    <div class="col-3 mbs">
      <select name="id_groupe" class="w100">
        <option value="0">Aucun</option>
        {% for groupe in groupes %}
        <option value="{{ groupe.idGroupe }}"{% if photo.idGroupe == groupe.id %} selected="selected"{% endif %}>{{ groupe.name }}</option>
        {% endfor %}
      </select>
    </div>

    <div>
      <label for="id_lieu">Lieu</label>
    </div>
    <div class="col-3 mbs">
      <select id="id_lieu" name="id_lieu" class="w100">
        <optgroup label="Autre">
          <option value="0">aucun / non référencé</option>
        </optgroup>
        {% for dep_id, dep_name in dep %}
        <optgroup label="{{ dep_id }} - {{ dep_name }}">
          {% for lieu in lieux[dep_id] %}
          <option value="{{ lieu.id }}"{% if photo.idLieu == lieu.id %} selected="selected"{% endif %}>{{ lieu.city.cp }} {{ lieu.city.name }} : {{ lieu.name }}</option>
          {% endfor %}
        </optgroup>
        {% endfor %}
      </select>
    </div>

    <div>
      <label for="id_event">Evénement</label>
    </div>
    <div class="col-3 mbs">
      <select id="id_event" name="id_event" class="w100">
        <option value="0">Aucun</option>
      </select>
    </div>

    <div>
      <label for="online">Rendre public</label>
    </div>
    <div class="col-3 mbs">
      <input class="checkbox" type="checkbox" name="online"{% if photo.online %} checked="checked"{% endif %}>
    </div>

    <div></div>
    <div class="col-2">
      <input name="form-photo-edit-submit" id="form-photo-edit-submit" class="btn btn-primary" type="submit" value="💾 Enregistrer">
      <input type="hidden" name="id" id="id_photo" value="{{ photo.idPhoto }}">
      <input type="hidden" name="photo_id_event" id="photo_id_event" value="{{ photo.idEvent }}">
    </div>
    <div class="txtright">
      <a class="btn btn-primary" href="/photos/delete/{{ photo.idPhoto }}">❌ Supprimer</a>
    </div>

  </section>

</form>

{% endif %} {# test unknown photo #}

  </div>
</div>

{{ include('common/footer.twig') }}
