{{ include('common/header.twig') }}

<div class="container">

  <div class="row">
  <div class="col-md-10 mx-auto">

  <h2 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">{{ form_title }}</h2>
  <div class="border rounded-bottom bg-white p-3">

    <form id="form-featured" name="form-featured" action="{{ form_action }}" method="post" enctype="multipart/form-data">

      <div class="row mb-3">
        <label class="col-3 form-label" for="title">Titre</label>
        <div class="col-9">
          <div class="alert alert-danger" id="error_title"{% if not error_title %} style="display: none"{% endif %}>Vous devez saisir un titre</div>
          <input {% if form_readonly %}readonly disabled{% endif %} id="title" name="title" type="text" maxlength="35" class="form-control" value="{{ data.title }}">
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-3 form-label" for="description">Description</label>
        <div class="col-9">
          <div class="alert alert-danger" id="error_description"{% if not error_description %} style="display: none"{% endif %}>Vous devez saisir une description</div>
          <input {% if form_readonly %}readonly disabled{% endif %} id="description" name="description" type="text" maxlength="85" class="form-control" value="{{ data.description }}">
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-3 form-label" for="url">Lien</label>
        <div class="col-9">
          <div class="alert alert-danger" id="error_url"{% if not error_url %} style="display: none"{% endif %}>Vous devez saisir un lien</div>
          <input {% if form_readonly %}readonly disabled{% endif %} id="url" name="url" type="text" class="form-control" value="{{ data.url }}">
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-3 form-label" for="image">Image (.jpg 1000x375)</label>
        <div class="col-9">
          <div class="alert alert-danger" id="error_image"{% if not error_image %} style="display: none"{% endif %}>Vous devez choisir une image</div>
          <input {% if form_readonly %}readonly disabled{% endif %} id="image" name="image" type="file" class="form-control" value="{{ data.image }}">
        </div>
      </div>

      {% if data.image %}
      <img src="{{ data.image }}" alt="" style="display:block;margin:auto">
      {% endif %}

      <div class="row mb-3">
        <label class="col-3 form-label" for="datdeb">Début</label>
        <div class="col-9">
          <div class="alert alert-danger" id="error_datdeb"{% if not error_datdeb %} style="display: none"{% endif %}>Vous devez saisir une date de début</div>
          <input {% if form_readonly %}readonly disabled{% endif %} id="datdeb" name="datdeb" type="date" class="form-control" value="{{ data.datdeb|date('Y-m-d') }}">
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-3 form-label" for="datfin">Fin</label>
        <div class="col-9">
          <div class="alert alert-danger" id="error_datfin"{% if not error_datfin %} style="display: none"{% endif %}>Vous devez saisir une date de fin</div>
          <input {% if form_readonly %}readonly disabled{% endif %} id="datfin" name="datfin" type="date" class="form-control" value="{{ data.datfin|date('Y-m-d') }}">
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-3 form-check-label" for="online">En ligne</label>
        <div class="col-9">
          <input {% if form_readonly %}readonly disabled{% endif %} class="form-check-input" type="checkbox" name="online" id="online"{% if data.online %} checked="checked"{% endif %}>
        </div>
      </div>

      <div class="row mb-3">
        <div class="offset-3">
          {% if data.id %}
          <input type="hidden" name="id" value="{{ data.id }}">
            {% if form_readonly %}
            <input id="form-featured-submit" name="form-featured-submit" class="btn btn-primary" type="submit" value="❌ Confirmer la suppression">
            {% else %}
            <input id="form-featured-submit" name="form-featured-submit" class="btn btn-primary" type="submit" value="💾 Enregistrer">
            <a class="btn btn-secondary" href="/adm/featured/delete/{{ data.id }}">❌ Supprimer</a>
            {% endif %}
          {% else %}
          <input id="form-featured-submit" name="form-featured-submit" class="btn btn-primary" type="submit" value="💾 Enregistrer">
          {% endif %}
        </div>
      </div>

    </form>

  </div>

</div>{# .col-md-8 #}
</div>{# .row #}
</div>{# .container #}

{{ include('common/footer.twig') }}
