{{ include('common/header.twig') }}

<div class="container">
  <h1>Newsletters</h1>

  <div>
    <p>nombre d'abonnés : {{ nb_sub }}</p>
    <p><a href="/adm/newsletter/create" class="btn btn-primary">Écrire une lettre</a></p>
  </div>

  <table id="table" class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col" class="minw">#</th>
        <th scope="col">Voir</th>
        <th scope="col">Sujet</th>
      </tr>
    </thead>
    <tbody>
      {% for newsletter in newsletters %}
      <tr>
        <td>{{ newsletter.idNewsletter }}</td>
        <td><a href="/newsletters/{{ newsletter.idNewsletter }}" target="_blank">[voir]</a></td>
        <td><a href="/adm/newsletters/edit/{{ newsletter.idNewsletter }}">{{ newsletter.title }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{{ include('common/footer.twig') }}
