{{ include('common/header.twig') }}

<div class="box">
  <h1>Édition d'une question fréquente</h1>
  <div>
    <form id="form-faq-edit" name="form-faq-edit" action="/adm/faq/edit" method="post">
    <ul>
      <li>
        <label for="id_category">Catégorie</label>
        <select name="id_category">
        {% for cat in categories %}
          <option value="{{ cat.id }}"{% if faq.idCategory == cat.id %} selected="selected"{% endif %}>{{ cat.name }}</option>
        {% endfor %}
        </select>
      </li>
      <li>
        <label for="question">Question</label>
        <textarea id="question" name="question">{{ faq.question }}</textarea>
      </li>
      <li>
        <label for="answer">Réponse</label>
        <textarea id="answer" name="answer">{{ faq.answer }}</textarea>
      </li>
      <li>
        <label for="online">Afficher</label>
        <input class="switch" type="checkbox" id="online" name="online"{% if faq.online %} checked="checked"{% endif %}>
      </li>
    </ul>
    <input type="hidden" name="id_faq" value="{{ faq.idFaq }}">
    <input class="btn btn-primary" id="form-faq-edit-submit" name="form-faq-edit-submit" type="submit">
    </form>
  </div>
</div>

{{ include('common/footer.twig') }}
