{{ include('common/header.twig') }}

<div class="box">
  <h1>Foire aux questions</h1>
  <div>
  {% if create %}<p class="alert alert-success">Question ajoutée</p>{% endif %}
  {% if edit %}<p class="alert alert-success">Question modifiée</p>{% endif %}
  {% if delete %}<p class="alert alert-success">Question supprimée</p>{% endif %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Catégorie</th>
        <th>Question</th>
        <th>En ligne</th>
      </tr>
    </thead>
    <tbody>
      {% for f in faq %}
      <tr>
        <td>{{ f.id }}</td>
        <td>{{ f.category.name }}</td>
        <td><a href="/adm/faq/edit/{{ f.id }}">{{ f.question }}</a></td>
        <td>{{ f.online }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="btn btn-primary" href="/adm/faq/create">Ajouter une question</a>
  </div>
</div>

{{ include('common/footer.twig') }}
