{{ include('common/header.twig') }}

{% if unknown_event %}

<p class="alert alert-danger">Cet événement est introuvable</p>

{% else %}

<div class="container">
  <h1>{{ event.name }}</h1>
  <div>

    {% if event.thumbUrl %}
    <img src="{{ event.thumbUrl }}" alt="{{ event.name }}" style="display: block; margin: 0 auto 10px;">
    {% endif %}

    {% if event.facebookEventId %}
    <p class="txtcenter">
      <a class="event_facebook" href="{{ event.dacebookEventUrl }}" title="Aller sur l'événement Facebook">Événement Facebook</a>
    </p>
    {% endif %}

    {% if event.groupes %}
    <p>Avec :</p>
    <ul class="grid-3-small-1">
    {% for groupe in event.groupes %}
      <li><a href="{{ groupe.url }}"><img src="{{ groupe.miniPhoto }}" style="float: left; margin: 2px; border: 1px solid #777" alt=""></a><a href="{{ groupe.url }}"><strong>{{ groupe.name }}</strong></a><br>({{ groupe.style }})</li>
    {% endfor %}
    </ul>
    {% endif %}

    <div id="event-box-info">
      <p><strong>Le {{ jour }} à {{ heure }}</strong></p>
      <a href="{{ event.lieu.url }}" title="{{ event.lieu.name }}">
        <strong>{{ event.lieu.name }}</strong><br>
        {{ event.lieu.address }}<br>
        {{ event.lieu.city.cp }} - {{ event.lieu.city.name }}
      </a>
      <p>Entrée : <strong>{{ event.price }}</strong></p>
    </div>

    <p align="justify">{{ event.text|nl2br }}</p>

    {% if structures %}
    <p>Organisateur :</p>
    <ul>
    {% for structure in structures %}
      <li><img src="{{ structure.picto }}" alt="" title="{{ structure.name }}"><strong>{{ structure.name }}</strong></li>
    {% endfor %}
    </ul>
    {% endif %}

  </div>
</div>{# .box #}

{% if audios %}
<div class="box">
  <h2>Sons</h2>
  <div>
    <ul>
    {% for audio in audios %}
      <li><strong>{{ audio.name }}</strong>{% if audio.groupe %}} (<a href="{{ audio.groupe.url }}">{{ audio.groupe.name }}</a>){% endif %}<br><audio controls src="{{ audio.directMp3Url }}"></audio></li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

{% if videos %}
<div class="box">
  <h2>Vidéos</h2>
  <div class="reset grid-3-small-2 has-gutter">
    {% for video in videos %}
    <div class="video">
      <div class="thumb" style="background-image: url({{ video.thumbUrl }})">
        <a class="playbtn" href="{{ video.Url }}" title="Regarder la vidéo {{ video.name }}">▶</a>
      </div>
      <p class="title"><a href="{{ video.Url }}" title="Regarder la vidéo {{ video.name }}">{{ video.name }}</a></p>
      <p class="subtitle">{% if video.groupe %}<a href="{{ video.groupe.url }}" title="Aller à la page du groupe {{ video.groupe.name }}">{{ video.groupe.name }}</a>{% endif %}</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% if photos %}
<div class="box">
  <h2>Photos</h2>
  <div class="reset gallery">
  {% for photo in photos %}
    <div class="photo">
      <a href="{{ photo.thumbUrl }}" data-at-1000="{{ photo.thumbUrl }}" title="{{ photo.name }}{% if photo.groupe %} ({{ photo.groupe.name }}){% endif %}  📷 {{ photo.credits }}">
        <img data-id="{{ photo.idPhoto }}" src="{{ photo.thumbUrl }}" alt="{{ photo.name }}{% if photo.groupe %} ({{ photo.groupe.name }}){% endif %}">
      </a>
    </div>
  {% endfor %}
  </div>
</div>
{% endif %}

{% endif %} {# test unknown event #}

{{ include('common/footer.twig') }}
