{% include 'common/header.twig' %}

{% if unknown_video %}

<p class="infobulle error">Cette vidéo est introuvable !</p>

{% else %}

<div class="box">
  <header>
    <h1>Supprimer une vidéo</h1>
  </header>
  <div>
  <form id="form-video-delete" name="form-video-delete" method="post" action="/videos/delete">
    <section class="grid-4">
      <div>
        <label for="player">Visualiser</label>
      </div>
      <div class="col-3 mbs">
        <span id="player">{{ video.player|raw }}</span>
      </div>
      <div>
        <label for="name">Nom</label>
      </div>
      <div class="col-3 mbs">
        <span id="name">{{ video.name }}</span>
      </div>
      <div>
        <label for="thumb">Miniature</label>
      </div>
      <div class="col-3 mbs">
        <span id="thumb"><img src="{{ video.thumbUrl(320) }}" alt=""></span>
      </div>
      <div>
        <label for="id_host">Hébergeur</label>
      </div>
      <div class="col-3 mbs">
        <span id="id_host">{{ video.host.name }}</span>
      </div>
      <div>
        <label for="reference">Référence</label>
      </div>
      <div class="col-3 mbs">
        <span id="reference">{{ video.reference }}</span>
      </div>
      {% if groupe %}
      <div>
        <label for="groupe">Groupe</label>
      </div>
      <div class="col-3 mbs">
        <span id="groupe">{{ groupe.name }}</span>
      </div>
      {% endif %}
      {% if event %}
      <div>
        <label for="event">Événement</label>
      </div>
      <div class="col-3 mbs">
        <span id="event">{{ event.date }} - {{ event.name }}</span>
      </div>
      {% endif %}
      {% if lieu %}
      <div>
        <label for="lieu">Lieu</label>
      </div>
      <div class="col-3 mbs">
        <span id="lieu">{{ lieu.name }}</span>
      </div>
      {% endif %}
      <div>
        <label for="online">Afficher</label>
      </div>
      <div class="col-3 mbs">
        <span id="online">{{ video.online }}</span>
      </div>
      <div></div>
      <div class="col-3">
        <input id="form-video-delete-submit" name="form-video-delete-submit" class="btn btn--primary" type="submit" value="Confirmer la suppression">
        <input type="hidden" name="id" value="{{ video.id }}">
      </div>
    </section>
  </form>
  </div>
</div>

{% endif %}

{% include 'common/footer.twig' %}

