{% include 'common/header.twig' %}

{% if unknown_video %}

<p class="infobulle error">Cette vidéo est introuvable !</p>

{% else %}

<div class="box">
  <header>
    <h1>{{ video.name }}</h1>
  </header>
  <div class="reset">
    <div class="fluid-video-player {{ video.playerRatio }}">
    {{ video.player|raw }}
    </div>
  </div>
</div>

<div class="grid-4-small-2 has-gutter">

  <div class="box">
    <header>
      <h2>Partager cette vidéo</h2>
    </header>
    <div class="reset">
      {% include 'comments/share.twig' with {'title': '',  'url': video.url, 'text': video.name } %}
    </div>
  </div>

  {% if groupe %}
  <div class="box">
    <header>
      <h2>Groupe</h2>
    </header>
    <div>
      <a href="{{ groupe.url }}" style="display:block;text-align:center"><img style="display:block;margin:auto" src="{{ groupe.miniPhoto }}" alt=""><strong>{{ groupe.name }}</strong></a>
    </div>
  </div>
  {% endif %}

  {% if event %}
  <div class="box">
    <header>
      <h2>Événement</h2>
    </header>
    <div>
      <a href="{{ event.url }}"><img style="float:right" src="{{ event.thumbUrl }}" alt=""><strong>{{ event.name }}</strong></a><br>{{ event.date }}
    </div>
  </div>
  {% endif %}

  {% if lieu %}
  <div class="box">
    <header>
      <h2>Lieu</h2>
    </header>
    <div>
      <a href="{{ lieu.url }}"><strong>{{ lieu.name }}</strong></a><br>{{ lieu.address }}<br>{{ lieu.city.cp }} {{ lieu.city.name }}
    </div>
  </div>
  {% endif %}

</div>

{% if videos %}
<div class="box">
  <header>
    <h2>Vidéos du même concert</h2>
  </header>
  <div class="reset grid-3-small-2 has-gutter">
    {% for _video in videos %}
    {% if video.id != video.id %}
      <div class="video">
        <div class="thumb" style="background-image: url({{ _video.thumbUrl }})">
          <a class="playbtn" href="{{ _video.url }}" title="Regarder la vidéo {{ _video.name }}">▶</a>
        </div>
        <p class="title"><a href="{{ _video.url }}" title="Regarder la vidéo {{ _video.name }}">{{ _video.name }}</a></p>
        <p class="subtitle">{% if _video.groupe %}<a href="{{ _video.groupe.url }}" title="Aller à la page du groupe {{ _video.groupe.name }}">{{ _video.groupe.name }}</a>{% endif %}</p>
      </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}

{% if photos %}
<div class="box">
  <header>
    <h2>Photos du même concert</h2>
  </header>
  <div class="reset gallery">
  {% for photo in photos %}
    <div class="photo">
      <a href="{{ photo.thumbUrl }}" data-at-1000="{{ photo.ThumbUrl }}" title="{{ photo.name }}{% if photo.groupe %} ({{ photo.groupe.name }}){% endif %}">
        <img src="{{ photo.thumbUrl }}" alt="{{ photo.name }}{% if photo.groupe %} ({{ photo.groupe.name }}){% endif %}">
      </a>
    </div>
  {% endfor %}
  </div>
</div>
{% endif %}

{% endif %} {# test unknown video #}

{% include 'common/footer.twig' %}
