{% include 'common/header.twig' %}

<div class="box">
  <header>
    <h1>{{ groupe.name }}</h1>
  </header>
  <div>

<table>
  <caption>Infos générales</caption>
  <tr>
    <th>Id</th>
    <td>{{ groupe.id }}</td>
  </tr>
  <tr>
    <th>Etat</th>
    <td>{{ groupe.Etat }}</td>
  </tr>
  <tr>
    <th>Nom</th>
    <td>{{ groupe.name }}</td>
  </tr>
  <tr>
    <th>Alias</th>
    <td>{{ groupe.Alias }}</td>
  </tr>
  <tr>
    <th>Style</th>
    <td>{{ groupe.Style }}</td>
  </tr>
  <tr>
    <th>Influences</th>
    <td>{{ groupe.Influences }}</td>
  </tr>
  <tr>
    <th>Line-up</th>
    <td>{{ groupe.Lineup }}</td>
  </tr>
  <tr>
    <th>Mini-texte</th>
    <td>{{ groupe.MiniText()|@nl2br}</td>
  </tr>
  <tr>
    <th>Texte</th>
    <td>{{ groupe.Text }}</td>
  </tr>
  <tr>
    <th>Site</th>
    <td>{{ groupe.Site }}</td>
  </tr>
  <tr>
    <th>Facebook Page Id</th>
    <td><a href="{{ groupe.FacebookPageUrl }}">{{ groupe.FacebookPageId }}</a></td>
  </tr>
  <tr>
    <th>Création</th>
    <td>{{ groupe.CreatedAt }}</td>
  </tr>
  <tr>
    <th>Modification</th>
    <td>{{ groupe.ModifiedAt }}</td>
  </tr>
  <tr>
    <th>Photo</th>
    <td>{% if $groupe.Photo }}<img src="{{ groupe.Photo }}" alt="">{% endif %}</td>
  </tr>
  <tr>
    <th>Logo</th>
    <td>{% if $groupe.Logo }}<img src="{{ groupe.Logo }}" alt="">{% endif %}</td>
  </tr>
  <tr>
    <th>Mini Photo</th>
    <td><img src="{{ groupe.MiniPhoto }}" alt=""></td>
  </tr>
  <tr>
    <th>Le Mot AD'HOC</th>
    <td>{{ groupe.Comment }}</td>
  </tr>
</table>

<table>
  <caption>Styles</caption>
  {% for from=$groupe.Styles() item=style}
  <tr><td>{{ style.name }}</td></tr>
  {% endfor %}
</table>

<table>
  <caption>Membres</caption>
  {% for from=$groupe.Members() item=member}
  <tr>
    <td>{{ member.FirstName }} {{ member.LastName }} (<a href="/adm/membres/{{ member.idContact }}">{{ member.Pseudo }}</a>)</td>
    <td><a class="btn btn--secondary" href="/adm/appartient-a?from=groupe&amp;action=delete&amp;groupe={{ groupe.id }}&amp;membre={{ member.idContact }}">Supprimer</a></td>
  </tr>
  {% endfor %}
</table>
<a class="btn btn--primary" href="/adm/appartient-a?from=groupe&amp;action=create&amp;groupe={{ groupe.id }}">Ajout Membre</a>

  </div>
</div>

{% include 'common/footer.twig' %}
