{% include 'common/header.twig' %}

<div class="box">
  <header>
    <h1>Mes Groupes</h1>
  </header>
  <div>

{% if delete}}
<div class="infobulle success">Groupe supprimé</div>
{% endif %}

{% if $groupes.length > 0}
<table class="table table--zebra">
  <tr>
    <th>Groupe</th>
    <th>Création</th>
    <th>Modification</th>
  </tr>
  {% for $groupes as $groupe}
  <tr>
    <td><a href="/groupes/edit/{{ groupe.idGroupe }}" title="{{ groupe.name }}"><img src="{{ groupe.MiniPhoto }}" alt="{{ groupe.name }}"><br>{{ groupe.name }}</a></td>
    <td>{{ groupe.CreatedAt()|date_format:'%d/%m/%Y'}</td>
    <td>{{ groupe.ModifiedAt()|date_format:'%d/%m/%Y'}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Vous n'administrez aucun groupe</p>
{% endif %}

<a href="/groupes/create" class='btn btn--primary'>Inscrire un groupe</a>

  </div>
</div>

{% include 'common/footer.twig' %}
