{% include 'common/header.twig' %}

{% if unknown_group %}

<p class="infobulle error">Ce groupe est introuvable</p>

{% else %}

<div class="grid-2-small-1 has-gutter">

  <div class="col-1">

    <div class="box">
      <header>
        <h1>{{ groupe.name }}</h1>
      </header>
      <div>
        {% if groupe.logo %}
        <img src="{{ groupe.logo }}" alt="{{ groupe.name }}" style="display:block;margin:0 auto">
        {% endif %}
        {% if groupe.style %}
        <p><strong>Style</strong><br>{{ groupe.style }}</p>
        {% endif %}
        {% if $groupe.Influences }}
        <p><strong>Influences</strong><br>{{ groupe.Influences }}</p>
        {% endif %}
        {% if $groupe.Lineup }}
        <p><strong>Membres</strong><br>{{ groupe.Lineup()|@nl2br}</p>
        {% endif %}
        {% if $groupe.Site() || $groupe.FacebookPageId() || $groupe.TwitterId }}
        <p><strong>Liens</strong></p>
        <ul class="social-share-box">
          {% if $groupe.Site }}
          <li><a href="{{ groupe.Site }}" class="website" title="Site"><span>Site</span></a></li>
          {% endif %}
          {% if $groupe.FacebookPageId }}
          <li><a href="{{ groupe.FacebookPageUrl }}" class="facebook" title="Facebook"><span>Facebook</span></a></li>
          {% endif %}
          {% if $groupe.TwitterId }}
          <li><a href="{{ groupe.TwitterUrl }}" class="twitter" title="Twitter"><span>Twitter</span></a></li>
          {% endif %}
        </ul>
        {% endif %}
      </div>
    </div>

    {% if $videos.length > 0}
    <div class="box">
      <header>
        <h2>Vidéos</h2>
      </header>
      <div class="reset grid-2 has-gutter">
        {% for $videos as $video}
        <div class="video">
          <div class="thumb" style="background-image: url({{ video.ThumbUrl(320}})">
            <a class="playbtn" href="{{ video.Url }}" title="Regarder la vidéo {{ video.Name }}">▶</a>
          </div>
          <p class="title"><a href="{{ video.Url }}" title="Regarder la vidéo {{ video.Name }}">{{ video.Name }}</a></p>
          <p class="subtitle">
            {% if video.Event()}}<a href="{{ video.Event().Url }}" title="Aller à la page de l'événement {{ video.Event().Name }}">{{ video.Event().Name }}
            <br/>
            {{ video.Event().Date()|date_format:"%a %e %B %Y"}</a>{% endif %}
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if $audios.length > 0}
    <div class="box">
      <header>
        <h2>En Écoute</h2>
      </header>
      <div>  
      <ul>
        {% for $audios as $audio}
        <li><a href="{{ audio.Url }}">{{ audio.Name }}</a><br><audio controls="controls" src="{{ audio.DirectMp3Url }}" style="background-color:#000"></audio></li>
        {% endfor %}
      </ul>
      </div>
    </div>
    {% endif %}

  </div>
  <div class="col-1">{# colonne 2 #}

    <div class="box">
      <header>
        <h2>Présentation</h2>
      </header>
      <div>
        {% if $groupe.Photo }}
        <img src="{{ groupe.Photo }}" alt="{{ groupe.Name }}" title="{{ groupe.Name }}" style="display:block;margin:0 auto">
        {% endif %}
        <p style="text-align:justify">{{ groupe.Text()|nl2br}</p>
      </div>
    </div>

    {% if $f_events.length > 0}
    <div class="box">
      <header>
        <h2>Évènements à venir</h2>
      </header>
      <div>
        <ul>
          {% for $f_events as $event}
          <li><a href="{{ event.Url }}">{{ event.Date()|date_format:'%d/%m/%Y %H:%M'} - {{ event.Lieu().Name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

    {% if $p_events.length > 0}
    <div class="box">
      <header>
        <h2>Évènements passés</h2>
      </header>
      <div>
        <ul>
          {% for $p_events as $event}
          <li><a href="{{ event.Url }}">{{ event.Date()|date_format:'%d/%m/%Y %H:%M'} - {{ event.Lieu().Name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

  </div>

</div>

{% if photos}}
<div class="box">
  <header>
    <h2>Photos</h2>
  </header>
  <div class="reset gallery">
  {% for from=$photos item=photo}
    <div class="photo">
      <a href="{{ photo.ThumbUrl(1000}}" data-at-1000="{{ photo.ThumbUrl(1000}}" title="{{ photo.Name }}{% if photo.Groupe()}} ({{ photo.Groupe().Name }}){% endif %} 📷 {{ photo.Credits }}">
        <img data-id-photo="{{ photo.IdPhoto }}" src="{{ photo.ThumbUrl(320}}" alt="{{ photo.Name }}{% if photo.Groupe()}} ({{ photo.Groupe().Name }}){% endif %}">
      </a>
    </div>
  {% endfor %}
  </div>
</div>
{% endif %}

{% endif %} {# test unknown group #}

{% include 'common/footer.twig' %}
