{% include 'common/header.twig' %}

<div class="box">
  <header>
    <h1>Vidéos</h1>
  </header>
  <div class="reset">

{pagination nb_items=$nb_items nb_items_per_page=$nb_items_per_page page=$page}

<table class="table table--zebra" id="tab-groupes">
  <thead>
    <tr>
      <th>Vidéo</th>
      <th>Groupe</th>
      <th>Évènement</th>
      <th>Lieu</th>
      <th>Créa</th>
      <th>Modif</th>
    </tr>
  </thead>
  <tbody>
  {% for from=$videos item=video}
    <tr>
      <td>{{ video.Id }}<br/><img src="{{ video.ThumbUrl(80}}" alt=""/><br/>{{ video.Name }}</td>
      <td>{% if ($video.IdGroupe()}}<a href="{{ video.Groupe().Url }}">{{ video.Groupe().Name }}</a>{% endif %}</td>
      <td>{% if ($video.IdEvent()}}<a href="{{ video.Event().Url }}">{{ video.Event().Name }}</a><br/>{{ video.Event().Date()|date_format:'%d/%m/%Y'}{% endif %}</td>
      <td>{% if ($video.IdLieu()}}<a href="{{ video.Lieu().Url }}">{{ video.Lieu().Name }}</a><br>{{ video.Lieu().IdDepartement }} {{ video.Lieu().City().Name }}{% endif %}</td>
      <td>{{ video.CreatedAt()|date_format:'%d/%m/%Y'}</td>
      <td>{{ video.ModifiedAt()|date_format:'%d/%m/%Y'}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

  </div>
</div>

{% include 'common/footer.twig' %}
