{% include 'common/header.twig' %}

<div class="box">
  <header>
    <h1>À l'Affiche</h1>
  </header>
  <div>

    <div id="swipe" class="swipe clearfix mbs">
      <ul class="swipe-wrap">
        {% for from=$featured_front key=idx item=f}
        <li data-index="{{ idx}">
          <a href="{{ f.Url }}">
            <h2>{{ f.Title }}<br><span>{{ f.Description }}</span></h2>
            <img src="{{ f.Image }}" title="{{ f.Description }}" alt="">
          </a>
        </li>
        {% endfor %}
      </ul>
      <div class="swipe-pagination-wrapper">
        <ul class="swipe-pagination">
          {% for from=$featured_front key=idx item=f}
          <li data-index="{{ idx}">
            <a href="{{ f.Url }}"></a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <a href="/adm/featured/create" class="btn btn--primary">Nouveau</a>

    <table>
      <thead>
        <tr>
          <th>Titre / Description</th>
          <th>Visuel</th>
          <th>Début</th>
          <th>Fin</th>
          <th>En ligne</th>
        </tr>
      </thead>
      <tbody>
      {% for $featured_admin as $f}
        <tr>
          <td><a href="/adm/featured/edit/{{ f.Id }}">{{ f.Title }}<br>{{ f.Description }}</a></td>
          <td><img src="{{ f.Image }}" width="108" height="60" alt="" style="display: block" /></td>
          <td>{{ f.DatDeb()|date_format:'%d/%m/%Y'}</td>
          <td>{{ f.DatFin()|date_format:'%d/%m/%Y'}</td>
          <td>{{ f.Online()|display_on_off_icon}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include 'common/footer.twig' %}
