{% include 'common/header.twig' %}

<div class="box">
  <header>
    <h1>À l'Affiche</h1>
  </header>
  <div>

    <div id="swipe" class="swipe clearfix mbs">
      <ul class="swipe-wrap">
        {% for idx, f in featured_front %}
        <li data-index="{{ idx }}">
          <a href="{{ f.url }}">
            <h2>{{ f.title }}<br><span>{{ f.description }}</span></h2>
            <img src="{{ f.image }}" title="{{ f.description }}" alt="">
          </a>
        </li>
        {% endfor %}
      </ul>
      <div class="swipe-pagination-wrapper">
        <ul class="swipe-pagination">
          {% for idx, f in featured_front %}
          <li data-index="{{ idx }}">
            <a href="{{ f.url }}"></a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <a href="/adm/featured/create" class="btn btn--primary">Nouveau</a>

    <table>
      <thead>
        <tr>
          <th>Titre / Description</th>
          <th>Visuel</th>
          <th>Début</th>
          <th>Fin</th>
          <th>En ligne</th>
        </tr>
      </thead>
      <tbody>
      {% for f in featured_admin %}
        <tr>
          <td><a href="/adm/featured/edit/{{ f.id }}">{{ f.title }}<br>{{ f.description }}</a></td>
          <td><img src="{{ f.image }}" width="108" height="60" alt="" style="display: block" /></td>
          <td>{{ f.datDeb|date("d/m/Y") }}</td>
          <td>{{ f.datFin|date("d/m/Y") }}</td>
          <td>{% if f.online %}✓{% endif %}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include 'common/footer.twig' %}
