{{ include('common/header.twig') }}

<div class="container">

<div class="col-md-9 mx-auto">

{% if updated_ok %}
<p class="alert alert-success">Enregistrement effectué</p>
{% endif %}

<h2 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">Mes Infos Persos</h2>
<div class="border rounded-bottom bg-white p-3">

<form id="form-member-edit" name="form-member-edit" method="post" action="/membres/edit" enctype="multipart/form-data">

  {% if me.interne %}
  <div>Notifications</div>
  <div class="col-3 mbs">
    <ul>
      <li>
        <input type="checkbox" class="switch" name="forum[a]" id="forum[a]"{% if forum['a'] %} checked="checked"{% endif %}> Général
      </li>
      <li>
        <input type="checkbox" class="switch" name="forum[b]" id="forum[b]"{% if forum['b'] %} checked="checked"{% endif %}> Bureau
      </li>
      <li>
        <input type="checkbox" class="switch" name="forum[e]" id="forum[e]"{% if forum['e'] %} checked="checked"{% endif %}> Exposition
      </li>
      <li>
        <input type="checkbox" class="switch" name="forum[s]" id="forum[s]"{% if forum['s'] %} checked="checked"{% endif %}> Site
      </li>
      <li>
        <input type="checkbox" class="switch" name="forum[t]" id="forum[t]"{% if forum['t'] %} checked="checked"{% endif %}> Technique
      </li>
    </ul>
  </div>
  {% endif %}

  <div class="row mb-3">
    <label class="form-label col-3" for="created_at">Date Inscription</label>
    <span class="col-9" id="created_at">{{ me.createdAt|date('d/m/Y H\\:i') }}</span>
  </div>

  <div class="row mb-3">
    <label class="form-label col-3" for="modified_at">Date Modification</label>
    <span class="col-9" id="modified_at">{{ me.modifiedAt|date('d/m/Y H\\:i') }}</span>
  </div>

  <div class="row mb-3">
    <label class="form-label col-3" for="visited_at">Dernière visite</label>
    <span class="col-9" id="visited_at">{{ me.visitedAt|date('d/m/Y H\\:i') }}</span>
  </div>

  <div class="row mb-3">
    <label class="form-label col-3" for="pseudo">Pseudo</label>
    <strong class="col-9">{{ me.pseudo }}</strong>
  </div>

  <div class="row mb-3">
    <label class="form-label col-3" for="password">Mot de passe</label>
    <a href="/auth/change-password" class="col-9 btn btn-primary">Modifier le mot de passe</a>
  </div>

  {% if me.interne %}
  <div class="row mb-3">
    <label class="form-label col-3" for="photo">Photo "corporate" (.jpg 100x100)</label>
    <div class="col-9">
      <img src="{{ me.avatarInterneUrl }}" alt=""><br>
      <input type="file" name="photo">
    </div>
  </div>
  {% endif %}

  <div class="row mb-3">
    <label class="col-3 form-label" for="avatar">Avatar public (.jpg 100x---)</label>
    <div class="col-9">
      <img src="{{ me.avatarUrl }}" alt=""><br>
      <input type="file" class="form-control" name="avatar">
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-3 form-label" for="last_name">Nom</label>
    <div class="col-9">
      <div class="alert alert-danger" id="error_last_name"{% if not error_last_name %} style="display: none"{% endif %}>Vous devez renseigner votre nom</div>
      <input id="last_name" name="last_name" type="text" class="form-control" maxlength="50" value="{{ me.lastName }}">
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-3 form-label" for="first_name">Prénom</label>
    <div class="col-9">
      <div class="alert alert-danger" id="error_first_name"{% if not error_first_name %} style="display: none"{% endif %}>Vous devez préciser votre prénom</div>
      <input id="first_name" name="first_name" type="text" class="form-control" maxlength="50" value="{{ me.firstName }}">
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-3 form-label" for="address">Adresse</label>
    <div class="col-9">
      <input id="address" name="address" type="text" class="form-control" maxlength="50" value="{{ me.address }}">
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-3 form-label" for="id_country">Pays (*)</label>
    <div class="col-9">
      <div class="alert alert-danger" id="error_id_country"{% if not error_id_country %} style="display: none"{% endif %}>Vous devez choisir un pays</div>
      <select id="id_country" name="id_country" class="form-control">
        <option value="0">---</option>
      </select>
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-3 form-label" for="id_region">Région (*)</label>
    <div class="col-9">
      <div class="alert alert-danger" id="error_id_region"{% if not error_id_region %} style="display: none"{% endif %}>Vous devez choisir une région</div>
      <select id="id_region" name="id_region" class="form-control">
        <option value="0">---</option>
      </select>
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-3 form-label" for="id_departement">Département (*)</label>
    <div class="col-9">
      <div class="alert alert-danger" id="error_id_departement"{% if not error_id_departement %} style="display: none"{% endif %}>Vous devez choisir un département</div>
      <select id="id_departement" name="id_departement" class="form-control">
        <option value="0">---</option>
      </select>
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-3 form-label" for="id_city">Ville (*)</label>
    <div class="col-9">
      <div class="alert alert-danger" id="error_id_city"{% if not error_id_city %} style="display: none"{% endif %}>Vous devez choisir une ville</div>
      <select id="id_city" name="id_city" class="form-control">
        <option value="0">---</option>
      </select>
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-3 form-label" for="tel">Téléphone</label>
    <div class="col-9">
      <input id="tel" name="tel" type="text" class="form-control" maxlength="50" value="{{ me.tel }}" placeholder="+33 1 ..">
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-3 form-label" for="port">Portable</label>
    <div class="col-9">
      <input id="port" name="port" type="text" class="form-control" maxlength="50" value="{{ me.port }}" placeholder="+33 6 ..">
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-3 form-label" for="email">Email</label>
    <div class="col-9">
      <div class="alert alert-danger" id="error_email"{% if not error_email %} style="display: none"{% endif %}>Vous devez renseigner votre email</div>
      <input id="email" name="email" type="email" class="form-control" maxlength="50" value="{{ me.email }}">
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-3 form-label" for="mailing">Newsletter</label>
    <div class="col-9">
      <input id="mailing" class="checkbox" name="mailing" type="checkbox"{% if me.mailing %} checked="checked"{% endif %}> oui, je veux recevoir la newsletter mensuelle
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-3 form-label" for="site">Site Internet</label>
    <div class="col-9">
      <input id="site" name="site" type="text" class="form-control" maxlength="50" value="{{ me.site }}" placeholder="https://...">
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-3 form-label" for="text">Présentation</label>
    <div class="col-9">
      <textarea name="text" class="form-control" rows="10">{{ me.text }}</textarea>
    </div>
  </div>

  <input id="form-member-edit-submit" name="form-member-edit-submit" type="submit" class="offset-3 btn btn-primary" value="💾 Enregistrer">
</form>

  </div>
</div>{# .container #}

{{ include('common/footer.twig') }}
