{{ include('common/header.twig') }}

{% if unknown_member %}

<p class="alert alert-danger">Ce membre est introuvable</p>

{% else %}

<div class="container">
  <h1>Profil de {{ membre.pseudo }}</h1>
  <div class="grid-3">
    <div class="col-1 profile">
      {% if membre.avatarUrl %}
      <img src="{{ membre.avatarUrl }}" alt="{{ membre.pseudo }}">
      {% endif %}
      <strong>{{ membre.pseudo }}</strong>
      {% if membre.site %}
      <a href="{{ membre.site }}">{{ membre.site }}</a>
      {% endif %}
      <a class="btn btn-primary" href="/messagerie/write?pseudo={{ membre.pseudo }}">Lui écrire</a>
    </div>
    <div class="col-2">
      {{ membre.text }}
    </div>
  </div>
</div>

{% if groupes|length > 0 %}
<div class="container">
  <h2>Ses groupes</h2>
  <div class="reset grid-8-small-4 has-gutter">
    {% for groupe in groupes %}
    <div class="grpitem">
      <a href="{{ groupe.url }}">
        <img src="{{ groupe.miniPhoto }}" alt="" />
        <p>{{ groupe.name }}</p>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% endif %} {# test unknown membre #}

{{ include('common/footer.twig') }}
