{% include 'common/header.twig' %}

<div class="container">
  <h1>Mes photos</h1>
  <div class="reset">

{% if create %}<p class="alert alert-success">Photo ajoutée</p>{% endif %}
{% if edit %}<p class="alert alert-success">Photo modifiée</p>{% endif %}
{% if delete %}<p class="alert alert-success">Photo supprimée</p>{% endif %}

<div class="txtcenter mbs">
<a href="/photos/create" class="btn btn-primary">Ajouter une photo</a>
</div>

{% if photos|length == 0 %}

<p>Aucune photo</p>

{% else %}

{pagination nb_items=$nb_items nb_items_per_page=$nb_items_per_page page=$page}

<div class="gallery">
{% for photo in photos %}
  <div class="photo">
    <a href="/photos/edit/{{ photo.id }}?page={{ page }}" title="{{ photo.name }}{% if photo.groupe %} ({{ photo.groupe.name }}){% endif %}">
      <img src="{{ photo.ThumbUrl }}" alt="{{ photo.name }}{% if photo.groupe %} ({{ photo.Groupe.name }}){% endif %}">
    </a>
  </div>
{% endfor %}
</div>

{pagination nb_items=$nb_items nb_items_per_page=$nb_items_per_page page=$page}

{% endif %}

<div class="txtcenter mbs">
  <a href="/photos/create" class="btn btn-primary">Ajouter une photo</a>
</div>

  </div>
</div>

{% include 'common/footer.twig' %}
