{% include 'common/header.twig' %}

<div class="container">

  <h1 class="px-2 py-1 mb-0 bg-dark text-white rounded-top">Rechercher une vidéo</h1>
  <div class="border rounded-bottom bg-white p-3 mb-3">
    <form id="form-media-search" name="form-media-search" method="get" action="/medias">
      <div class="row mb-3">
        <label class="form-label col-3" for="groupe">Groupe</label>
        <div class="col-9">
          <select id="groupe" name="groupe" class="form-control">
            <option value="">---</option>
            {% for groupe in groupes %}
            <option value="{{ groupe.idGroupe }}">{{ groupe.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <label class="form-label col-3" for="event">Événement</label>
        <div class="col-9">
          <select id="event" name="event" class="form-control">
            <option value="">---</option>
            {% for event in events %}
            <option value="{{ event.idEvent }}">{{ event.date }} - {{ event.name }} - {{ event.lieu.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <label class="form-label col-3" for="lieu">Lieu</label>
        <div class="col-9">
          <select id="lieu" name="lieu" class="form-control">
            <option value="">---</option>
            {% for lieu in lieux %}
            <option value="{{ lieu.idLieu }}">{{ lieu.city.cp }} {{ lieu.city.name }} - {{ lieu.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

    </form>
    <div id="search-results"></div>
  </div>

  <h2 class="px-2 py-1 mb-3 bg-dark text-white rounded-top">Dernières vidéos ajoutées</h1>

  {% if last_videos|length > 0 %}
  <div class="row row-cols-md-4 g-3">
    {% for video in last_videos %}
    <div class="col">
      <div class="card w-100 shadow-sm">
        <a href="{{ video.url }}" title="Regarder la vidéo {{ video.name }}"><img src="{{ video.thumbUrl }}" class="img-fluid" alt=""></a>
        <div class="card-body">
          <p class="card-text"><a href="{{ video.url }}" title="Regarder la vidéo {{ video.name }}">{{ video.name }}</a></p>
          {% if video.groupe %}<a href="{{ video.groupe.url }}" title="Aller à la page du groupe {{ video.groupe.name }}">{{ video.groupe.name }}</a>{% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div>
    <p>Aucune vidéo ajoutée</p>
  </div>
  {% endif %}

</div>{# .container #}

{% include 'common/footer.twig' %}
