{% include 'common/header.twig' %}

<div class="container">
  <h1>Rechercher une vidéo</h1>
  <div>
    <form id="form-media-search" name="form-media-search" method="get" action="/medias" style="margin-bottom:2rem">
      <section class="grid-4">
        <div>
          <label for="groupe">Groupe</label>
        </div>
        <div class="col-3 mbs">
          <select id="groupe" name="groupe" class="w100">
            <option value="">---</option>
            {% for groupe in groupes %}
            <option value="{{ groupe.id }}">{{ groupe.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div>
          <label for="event">Événement</label>
        </div>
        <div class="col-3 mbs">
          <select id="event" name="event" class="w100">
            <option value="">---</option>
            {% for event in events %}
            <option value="{{ event.id }}">{{ event.date }} - {{ event.name }} - {{ event.lieu.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div>
          <label for="lieu">Lieu</label>
        </div>
        <div class="col-3">
          <select id="lieu" name="lieu" class="w100">
            <option value="">---</option>
            {% for lieu in lieux %}
            <option value="{{ lieu.id }}">{{ lieu.city.cp }} {{ lieu.city.name }} - {{ lieu.name }}</option>
            {% endfor %}
          </select>
        </div>
      </section>
    </form>
    <div class="mtm" id="search-results"></div>
  </div>
</div>{# .container #}

<div class="container">
  <h2>Dernières vidéos ajoutées</h2>
  {% if last_videos|length > 0 %}
  <div class="reset grid-3-small-2 has-gutter">
    {% for video in last_videos %}
    <div class="video">
      <div class="thumb" style="background-image: url({{ video.thumbUrl }})">
        <a class="playbtn" href="{{ video.url }}" title="Regarder la vidéo {{ video.name }}">▶</a>
      </div>
      <p class="title"><a href="{{ video.url }}" title="Regarder la vidéo {{ video.name }}">{{ video.name }}</a></p>
      <p class="subtitle">{% if video.groupe %}<a href="{{ video.groupe.url }}" title="Aller à la page du groupe {{ video.groupe.name }}">{{ video.groupe.name }}</a>{% endif %}</p>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div>
    <p>Aucune vidéo ajoutée</p>
  </div>
  {% endif %}
</div>{# .container #}

{% include 'common/footer.twig' %}
