{% if search_video|length == 0 %}
  <p class="alert alert-danger w-100 mb-0">Aucun résultat</p>
{% else %}
  {% for video in search_video %}
  <div class="col">
    <div class="card w-100 shadow-sm">
      <a href="{{ video.url }}" title="Regarder la vidéo {{ video.name }}"><img src="{{ video.thumbUrl }}" class="img-fluid" alt=""></a>
      <div class="card-body">
        <p class="card-text"><a href="{{ video.url }}" title="Regarder la vidéo {{ video.name }}">{{ video.name }}</a></p>
        {% if video.groupe %}<a href="{{ video.groupe.url }}" title="Aller à la page du groupe {{ video.groupe.name }}">{{ video.groupe.name }}</a>{% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
{% endif %}
