{{ include('common/header.twig') }}

<div class="container">
  <h1>Liaisons groupe / styles</h1>
<div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Style libre</th>
      <th>Styles prédéfinis</th>
    </tr>
  </thead>
  <tbody>
    {% for groupe in groupes %}
    <tr>
      <td><a href="/adm/groupe-de-style/{{ groupe.idGroupe }}">{{ groupe.name }}</a></td>
      <td>{{ groupe.style }}</td>
      <td>
      {% if groupe.styles %}
      <ul>
      {% for style in groupe.styles %}
      <li>{{ style.name }}</li>
      {% endfor %}
      </ul>
      {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{{ include('common/footer.twig') }}
