{% include 'common/header.twig' %}

<div class="container">

<div class="row">

  <div class="col-md-4">
    <h1>Mes abonnements groupes</h1>
    <div>
      {% if groupes %}
      <ul>
      {% for groupe in groupes %}
        <li><a title="Se désabonner de ce groupe" href="/alerting/unsub?type=g&amp;id_content={{ groupe.id }}">❌</a> <a href="{{ groupe.url }}">{{ groupe.name }}</a></li>
      {% endfor %}
      </ul>
      {% else %}
      <p class="infobulle validation">Vous n'êtes abonné à aucun groupe</p>
      {% endif %}
      <p>Recevez chaque semaine dans votre boite aux lettres les dernières actus (dates, photos, vidéos ...) sur vos groupes préférés.</p>
      <p>Pour ajouter un abonnement groupe, veuillez vous rendre sur une <a href="/groupes">fiche groupe</a> et cliquez sur "S'abonner à ce groupe".</p>
    </div>
  </div>

  <div class="col-md-4">
    <h2>Mon agenda</h2>
    <div>
      {% if events %}
      <ul>
      {% for event in events %}
        <li><a title="Retirer de mon agenda" href="/alerting/unsub?type=e&amp;id_content={{ event.id }}">❌</a> <a href="{{ event.url }}">{{ event.name }}</a></li>
      {% endfor %}
      </ul>
      {% else %}
      <p class="infobulle validation">Aucun événement dans votre agenda</p>
      {% endif %}
      <p>Recevez une notification par email pour ne louper aucun événement</p>
      <p>Pour ajouter un événement à votre agenda, veuillez vous rendre sur une <a href="/events">fiche événement</a> et cliquez sur "Ajouter à mon agenda".</p>
    </div>
  </div>

  <div class="col-md-4">
    <h1>Mes abonnements lieux</h1>
    <div>
      {% if lieux %}
      <ul>
      {% for lieu in lieux %}
        <li><a title="Se désabonner de ce lieu" href="/alerting/unsub?type=l&amp;id_content={{ lieu.id }}">❌</a> <a href="{{ lieu.url }}">{{ lieu.name }}</a></li>
      {% endfor %}
      </ul>
      {% else %}
      <p class="infobulle validation">Vous n'êtes abonné à aucun lieu</p>
      {% endif %}
      <p>Recevez chaque semaine dans votre boite aux lettres les dernières actus d'un lieu.</p>
      <p>Pour ajouter un abonnement lieu, veuillez vous rendre sur une <a href="/lieux">fiche lieu</a> et cliquez sur "S'abonner à ce lieu".</p>
    </div>
  </div>

</div>{# .row #}
</div>{# .container #}

{% include 'common/footer.twig' %}
