{{ include('common/header.twig') }}

<div class="box">
  <h1>Éditer une page statique</h1>
  <div>
    <form id="form-cms-edit" name="form-cms-edit" action="/adm/cms/edit" method="post">
      <ul>
        <li>
          <label for="alias">URI</label>
          <span></span>
          <input id="alias" name="alias" value="{{ cms.alias }}">
        </li>
        <li>
          <label for="menuselected">Menu</label>
          <span>Quel est le menu de 1er niveau qui est sélectionné ?</span>
          <span>home, assoce, groupes, agenda, medias, lieux, articles, forums, chat, contact</span>
          <input type="text" id="menuselected" name="menuselected" value="">
        </li>
        <li>
          <label for="breadcrumb">Fil d'ariane</label>
          <span></span>
          <input type="text" id="breadcrumb" name="breadcrumb" value="">
        </li>
        <li>
          <label for="content">Contenu</label>
          <span></span>
          <textarea id="content" name="content">{{ cms.content }}</textarea>
        </li>
        <li>
          <label for="online">En Ligne</label>
          <input type="checkbox"{% if cms.online %} checked="checked"{% endif %} id="online" name="online">
        </li>
        <li>
          <label for="auth">Droits d'identification</label>
          <select id="auth" name="auth">
          <option value="0">Non</option>
          {% for auth_id, auth_name in auth %}
          <option value="{{ auth_id }}"{% if cms.auth == auth_id %} selected="selected"{% endif %}>{{ auth_name }}</select>
          {% endfor %}
        </li>
      </ul>
      <input type="hidden" name="id_cms" value="{{ cms.id }}">
      <input id="form-cms-edit-submit" name="form-cms-edit-submit" type="submit" value="OK" class="btn btn-primary">
    </form>
    <a href="/adm/cms/delete/{{ cms.id }}">Effacer la page</a>
  </div>
</div>

{{ include('common/footer.twig') }}
